@import "other.css";

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
font-family: 'Nanum Gothic', sans-serif;
/* width: calc(1920px - 17px); */
overflow-x: hidden;
}

/* weight */
.bold{
    font-weight: 700;
}
.bolder{
    font-weight: 800 !important;
}
strong{
    font-weight: 800;
}
/* weight */

/* colors */
.red{
    color: #dc052b;
}
.orange{
    color: #ee7609 !important;
}
/* colors */
/* shape */

/* shape */
/* background */
.topbox{
    position: absolute;
    top: 0;
    width: 320px;
    text-align: center;
    line-height: 128px;
    left: -320px;
    font-size: 30px;
    color: white;
}
.bgRed{
    background-color: #dc052b;
}
.bgGray{
    background-color: #f1f1f1;
    padding-bottom: 100px;
}
.bgOrange{
    background-color: #ee7609;
}
.bgWhite{
    background-color: white;
}
.bgWpink{
    background-color:#fbf7f6;
}
.bgWblue{
    background-color:#ecf0f5;
}
/* background */


.container{
    max-width: 1790px;
    width: 100%;
}


header{
    padding: 55px 0 0;
    text-align: center;
    background-color: #f0f0f0;
    margin-bottom: 70px;
}
header .pull-left{
    height: 100px;
}
header .pull-left span{
    display: block;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
header .logo{
    display: inline-block;
    line-height: 100px;
    position:absolute; top:55px; left:50%; margin-left:-95px;
}
header .searchBox{
    position: relative;
    padding-right: 15px;
    line-height: 100px;
}
header .searchBox .utility select {
    width: auto;
    max-width: 170px;
    min-width: 130px;
    margin-right: 5px;
    padding:0 15px;
    height: 44px;
    line-height: 1;
    border: 1px solid #bbbbbb;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    color: #5a5657;
    border: 1px solid #bbbbbb;
    font-size: 14px;
    background-color: #fff;
    background-image: url(../img/bg_select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    z-index: 1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select::-ms-expand{
    display: none;
}
header .searchBox .utility .btn-go, .select-published .btn-go {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    background: #595656;
    margin-right: 10px;
    color: #fff;
    height: 44px;
    font-size: 16px;
    border: 1px solid #595656;
    border-radius: 4px;
    line-height: 1;
}
/* header .searchBox a.file{
    position: absolute;
    right: 0;
    line-height: 49px;
    width: 49px;
    background-color: #696969;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    height: 49px;
    margin: auto;
}
header .searchBox input{
    width: 232px;
    height: 49px;
    border-radius: 30px;
    border:  2px solid #696969;
    background-color: white;
    outline: none;
    padding: 0 30px;font-size: 16px;
    color: #c3c3c3;
    font-weight: 800;} */

header .navHolder{
    margin-top: 43px;
    border-top:  2px solid #ee7609;
    border-bottom:  2px solid #ee7609;
}
header .navHolder nav .desktop{
    text-align:left;
    list-style: none;
    padding: 0;
    margin:0;

}
header .navHolder nav .mobile{
    display: none;
}
header .navHolder nav .desktop li{
    float: left;
}

header .navHolder nav .desktop li:not(:first-child){
    margin-left: 5.7%;
}
header .navHolder nav .desktop li a{
    display: block;
    /* float: left; */
    line-height: 65px;
    font-size: 20px;
    font-weight: 800;
    color: #696969;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}
header .navHolder nav .desktop li a.active,header .navHolder nav .desktop li a:hover{
    color: #ee7609;
    border-bottom: 3px solid #ee7609;
}

/*
.contentContainer{
    position: relative;
    top: 90px;
    left: 45px;
    text-align: left;
    padding-left: 155px;
    max-width: 910px;
    padding-top: 35px;
    padding-bottom: 70px;
}
*/
.contentContainer{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

#essay .contentContainer{
    padding:90px 0 0;
    text-align: center;
    max-width: 100%;
	width:100%;
	margin:0;
}

#ss > .contentContainer{
    max-width: 100%;
	padding:0;
	left:0;
	top:0;
}

section{
    position: relative;
}
.banner{
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
    background-image: url(../img/banner.png);
    height: 512px;
}
#ss.banner{
    background-image: url(../img/ssbanner.png);
}
#sv-banner.banner{
    margin-bottom: 4%;
    background-image: url(../img/sv-main-img.png);
}
.banner .icon{
    position: absolute;
    width: 100%;
    width: 135px;
    height: 135px;
    z-index: 15;
}
.banner .ricon{
    top: 0;
    left: 0;
}
.banner .ricon:before{
    position: absolute;
    content: '';
    width: 135px;
    height: 45px;
    background: #dc052b;
}
.banner .ricon:after{
    position: absolute;
    content: '';
    width: 45px;
    height: 135px;
    background: #dc052b;
}
.banner .oicon{
    bottom: 0;
    right: 0;
}
.banner .oicon:before{
    position: absolute;
    content: '';
    width: 135px;
    height: 45px;
    bottom: 0;
    background: #ee7609;
}
.banner .oicon:after{
    position: absolute;
    content: '';
    width: 45px;
    right: 0;
    height: 135px;
    background: #ee7609;
}

/* .banner:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 45px;
    width: 134px;
    background-color: #dc052b;
}
.banner:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 134px;
    width: 45px;
    background-color: #dc052b;
} */
.banner .topArea{
    padding-top: 75px;
}
#hsv .banner .topArea{
    padding-top: 0;
}
#hsv .contentContainer{width:auto;margin:0;    max-width: 960px;
	position: relative;
    top: 90px;
    left: 45px;
    text-align: left;
    padding-left: 155px;
    max-width: 910px;
    padding-top: 35px;
    padding-bottom: 70px;
}
.banner .note{
    display: block;
    font-size: 25px;
    font-weight: 800;
    color: white;
    position: relative;
    padding-bottom:18px;
    margin-bottom: 20px;
}
.banner .note:after{
    position: absolute;
    content: '';
    width: 37px;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 25px;
}
.banner .tagBox .bgRed{
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 800;   
    display: inline-block;
    vertical-align: middle;
}
.banner .tagBox .bgRed{
    background-color: #dc052b;
    text-align: center;
    padding:5px 18px;
    margin-right: 10px;
    border-radius: 30px;
}
.banner .tagBox .txt{
        position: relative;
    color: white;
    font-size: 20px;
    font-weight: 800;
    display: inline-block;
    vertical-align: middle;
}

.banner .topArea h3{
    font-size: 60px;
    color: white;
    font-weight: 800;
    line-height: 1;
}
.banner .topArea .otherBox{
    margin-top: 55px;
}
.banner .topArea .otherBox span{
    display: block;
    color: white;
}
.banner .topArea .otherBox span label{
    font-weight: 800;
}
#ss .banner .topArea{
	padding-top:40px;
    text-align: center
}
#ss .text01{font-size: 53px; color: #2f4364;margin-bottom: 20px}
#ss .text01 .wave{display: inline-block;padding-bottom: 16px;background: url(../img/wave.png) no-repeat 50% 100%;}
#ss .note{font-weight: 400;}
.txt-type02{font-size: 20px;margin-bottom: 25px;line-height: 1.6}
.txt-type03{font-size: 18px;line-height: 1.6}
.txt-type04{font-size: 20px;color: #ee7609;font-weight: 800;}
.bBox .bgGray{
    z-index: 5;
    position: relative;
    width: 100%;
    height: 134px;
    margin-top: -134px;
    bottom: 0;
    padding-top: 40px;
    /* background-color: #d1d1d1; */
    background: url(../img/bgGray.jpg);
}
/* .bBox .bgGray:before{
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    height: 45px;
    width: 134px;
    background-color: #ee7609;
}
.bBox .bgGray:after{
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    height: 134px;
    width: 45px;
    background-color: #ee7609;
} */
.bBox .bgGray p{
    font-size: 18px;
    color: #403f3f;
    font-weight: 700;
    line-height: 1.5;
    /* margin-top: 40px; */
}


.infoList .itemBox{
    position: relative;
    padding-top: 10%;
}
/* .infoList .itemBox:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    left: 900px;
    top: 0;
    background-color: #cfcfcf;
} */
.infoList .itemBox .item{
    float: left;
}
.infoList .itemBox .itemLeft{
    width: 100%;
    max-width: 900px;
    margin-right: 70px;
}
.infoList .itemBox .itemLeft.fw{
    width: 100%;
    max-width: 100%;
}
.infoList .itemBox .itemLeft .tophead{
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    font-weight: 800;
}
.infoList .itemBox .itemLeft .heading{
    font-size: 30px;
    padding-bottom: 12px;
    border-bottom:2px solid #f37214;
    font-weight:800;
    display: block;
    line-height: 1;
    margin-bottom: 10%;
}
.infoList .itemBox .itemLeft.fw .heading{
    max-width: 900px;
}
.infoList .itemBox .itemLeft .heading.wdBulb{
    line-height: 45px;
    padding-top: 15px;
    padding-left: 80px;
    background: url(../img/bulb.png);
    background-repeat: no-repeat;
    background-position: left;
    word-break: keep-all;
}
.infoList .itemBox .itemLeft .title{
    font-size: 36px;
    padding: 0 0 5%;
    display: block;
    font-weight: 700;
}
.infoList .itemBox .itemLeft p{
    font-size: 20px;
    color: #000;
    line-height: 2;
    padding-bottom: 60px;
    margin-bottom: 0;
}
.infoList .itemBox .itemLeft .detailBox .headBox{
    display: block;
    font-size: 30px;
    font-weight: 800;
    border-bottom: 2px solid #dc052b;
    padding-bottom: 5px;
    margin-bottom: 25px;
}
.infoList .itemBox .itemLeft .pb30{
    padding-bottom:30px;
}
.infoList .itemBox .itemLeft .question{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}
.infoList .itemBox .itemRight{
    width: 310px;
}
.infoList .itemBox .pt85{
    padding-top: 85px;
}
.infoList .itemBox .info .head{
    position: relative;
    display: block;
    font-size: 20px;
    color: #605f5e;
    font-weight: 800;
    padding-bottom: 10px;
    line-height: 1;
    margin-bottom:25px;
    border-bottom: 1px solid #ee7609;
}
.infoList .itemBox  .info .head.iconRed:before{
    position: absolute;
    content: '';
    width: 20px;
    height: 7px;
    top: -15px;
    left: -12px;
    background-color:#dc052b;
}
.infoList .itemBox .info .head.iconRed:after{
    position: absolute;
    content: '';
    width: 7px;
    height: 20px;
    top: -15px;
    left: -12px;
    background-color:#dc052b;
}
.infoList .itemBox .info p{
    font-size: 16px;
    color: #6d6d6d;
    line-height: 1.75;
}


.precon .eventBox{
    width: 255px;
    float: left;
}
.precon .eventBox:not(:first-child){
    margin-left: 62px;
}
.precon h3{
    margin-bottom: 45px;
}
.precon .eventBox .event .title{
    position: relative;
}
.precon .eventBox .event .title img{
    width: 234px;
    height: 157px;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
}
.precon .eventBox .event .title a{
    position: absolute;
    display: block;
    height: 62px;
    color: white;
    width: 100%;
    font-size:22px;
    top: 0;
    bottom: 0;
    margin: auto;
    text-decoration: none;
    text-align: center;
}
.precon .eventBox .event .title span{
    display:block;
}
.precon .eventBox .event .details{
    margin: 22px 0;
    text-align: center;
}
.precon .eventBox .event .details .notes span{
    display: block;
    font-size: 14px;
    color: #838383;
}
.precon .eventBox .event .details .bolder{
    font-size: 18px;
}
.precon .eventBox .event .details a{
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
}
.precon .eventBox .event .details a span{
    display: block;
    font-size: 12px;
    margin-top: 12px;
    color: #dc052b;
}

section.event{
    margin-top: 120px;
}
section.event .contentContainer .eventTitle{
    padding-left: 33px;
    padding-top: 18px;
}
section.event .eventBanner {
    position: relative;
}
section.event .eventBanner > p{
    position: absolute;
    font-size: 23px;
    color: white;
    text-align: center;
    max-width:768px;
    padding: 0 60px;
    left: 10%;
    top: 0;
    bottom: 0;
    margin:auto;
    height: 100px;
    background-image: url(../img/redQoute.png) no-repeat center right;
    background-image: url(../img/redQoute.png), url(../img/orangeQoute.png);
    background-position: center left, right center;
    background-repeat: no-repeat, no-repeat;
}
section.event .message{
    position: absolute;
    width: 100%;
    max-width: 791px;
    background-color: rgba(0,0,0,0.7);
    padding:45px;
    top: 45px;
    left: 45px;
    padding-bottom: 80px;
}
section.event .message .heading{
    display: block;
    font-size: 30px;
    position: relative;
    color: white !important;
    line-height: 1;
    padding-bottom: 15px; 
    margin-bottom: 30px;
}
section.event .message .heading:before{
    position: absolute;
    content: '';
    width: 100%;
    max-width: 453px;
    background-color: white;
    height: 2px;
    left: 0;
    bottom: 0;
}
section.event .eventBanner .message p{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    line-height: 1.75;
}
.event .contentContainer .orange{
    display: block;
    font-size: 20px;
    font-weight: 800;
}
section.event .contentContainer .heading{
    display: block;
    font-size: 37.81px;
    color: #000000;
    font-weight: 800;
    margin-top: 15px;
}

section.event .itemBox .itemLeft .countTitle{
    margin-bottom: 30px;
}
section.event .itemBox .itemLeft .countTitle span{
    display: inline-block;
    vertical-align: middle;
}
section.event .itemBox .itemLeft .countTitle .step{
    font-size: 30px;
    color: white;
    font-family: 'Roboto','sans-serif';
    width: 51px;
    line-height: 51px;
    border-radius: 50%;
    text-align: center;
    background-color: #ee7609;
    margin-right: 20px;
}
section.event .itemBox .itemLeft .countTitle .title{
    font-size: 23px;
    color: #000;
    font-weight: 800;
    padding: 0;
    margin: 0;
}f

section.event .itemBox .itemRight .ev1Note {
    font-size: 16px;
    color: #6d6d6d;
    margin-top: 15%;;
}
section.evlogo{
    padding-bottom:80px;
}
section.event .list .itemList{
    position: relative;
    float: left;
    width: 225px;
    text-align: center;
}
section.event .list .itemList:before{
    position: absolute;
    content:url(../img/arrowright.png);
    right: -20px;
    top: 75px;
}
section.event .list .itemList:last-child:before{
    display: none;
}
section .list .itemList img{
    width: 177px;
    height: 177px;
    border-radius: 50%;
}
section.event .list .itemList span{
    position: relative;
    font-size: 16px;
    margin-top: 25px;
    letter-spacing: -1.5px;
    color: #000000;
    display: block;
    font-weight:400;
}
section.event .list .itemList span:before{
    position: absolute;
    content: '';
    width: 6px;
    height: 25px;
    top: -35px;
    left: 0;
    right:0;
    margin: auto;
}
section.event .list .itemList span.red:before{
    background-color: #dc052b;
}
section.event .list .itemList span.orange:before{
    background-color: #ee7609;
}
section .evlogo .bigImg{
    display: inline-block;
    vertical-align: middle;
    margin-right:20px;
}
section .evlogo .compInfo{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
section .evlogo .imgHolder{
    width: 230px;
    margin: 0 auto;
    margin-top: 70px;
    line-height: 230px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid white;
}
section .evlogo .compInfo span{
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #000000;
}
.otherInfo .infoList .itemBox .item.itemLeft .title{
    font-size: 20px;
}
.otherInfo .itemRight.item.pt85{
    padding-top: 120px;
}
.otherInfo .itemRight.item img{
    margin-bottom: 10px;
}
.otherInfo .infoList .itemBox .itemRight .info .head{
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: 400;
}
.otherInfo .infoList .itemBox .itemRight .info .title{
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}
.event .fw .box{
    position: relative;
    text-align: center;
    float: left;
    width: 230px;
}
.event .fw .box span{
    display: block;
}
.event .fw .box:not(:first-child){
    margin-left: 20px;
}
.event .fw .box .iBox{
    display: block;
    position: relative;
}
.event .fw .box .iBox.ga:before{
    position: absolute;
    content: url(../img/garrow.png);
    height: 20px;
    top: 0;
    bottom: 10px;
    right: -50px;
    margin: auto;
}
.event .bigCircle{
    position: absolute;
    right:-180px;
    top: 180px;
    /* width: 221px;
    height: 221px;
    border:2px solid #ee7609;
    border-radius:50%; */
}
.sliderArea{
    padding: 50px 0;
}
.sliderArea .navContainer{
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999;;
}
.sliderArea .navContainer img{
    position: absolute;
    width: 32px;
    height: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}
.sliderArea .navContainer .left{
    left: 0;
}
.sliderArea .navContainer .right{
    right: 0;
}
.sliderArea .owl-carousel .item{
    position: relative;
    width: 100%;
    max-width: 1075px;
    margin: 0 auto;
}
.sliderArea .owl-carousel .item .detailsBox{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: -1;
}
.sliderArea .owl-carousel .item .detailsBox .heading{
    font-size: 30px;
    line-height: 48px;
    padding-left: 75px;
    background-image: url(../img/comment.png);
    background-repeat: no-repeat;
    background-position: center left;
}
.sliderArea .owl-carousel .item .userBox{
    width: 308px;
    border-radius: 50%;
    margin-left: auto;
    text-align: center;
}
.sliderArea .owl-carousel .item .userBox img{
    width: 308px;
    height: 309px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.sliderArea .owl-carousel .item .heading{
    font-size: 30px;
    display: block;
    max-width: 900px;
    border-bottom: 2px solid #f37214;
}
.sliderArea .owl-carousel .item .desc{
    font-size: 20px;
    color: #000;
    margin-top: 20px;
}
.sliderArea .owl-carousel.owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 60px;
}
.sliderArea .owl-carousel.owl-theme .owl-dots .owl-dot {
    outline: none;
}
.sliderArea .owl-carousel.owl-theme .owl-dots .owl-dot span{
    width: 46px;
    height: 9px;
    outline: none;
    border-radius: 0;
}



.npb{
    padding-bottom: 0;
}







/* footer banner  */
.bannerFooter{
    padding: 100px 0;
    background: url(../img/footerBanner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.bannerFooter p{
    font-size: 22px;
    color: white;
}
/* footer banner  */


.cta{
    margin: 10% 0;
    display: block;
    max-width: 740px;
    outline: none;
    text-align: center;
}
.cta span{
    display: inline-block;
    line-height: 80px;
    font-size: 20px;
    position: relative;
    color: white;
}
.cta span:after{
    position: absolute;
    content: url(../img/door.png);
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 47px;
    right: -50px;
}


.cta2{
    margin: 10% 0;
    display: block;
    max-width: 500px;
    outline: none;
    text-align: center;
	margin: 0 auto;
}
.cta2 span{
    display: inline-block;
    line-height: 80px;
    font-size: 20px;
    position: relative;
    color: #ee7609;
}
.cta2 span:after{
    position: absolute;
    content: url(../img/door_or.png);
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 47px;
    right: -50px;
}

@media only screen and (max-width: 414px){

	.cta2 span{
    display: inline-block;
    line-height: 70px;
    font-size: 20px;
    position: relative;
    color: #ee7609;
	width: 70%;
}
	.cta2 span:after{
		position: absolute;
		content: url(../img/door_or.png);
		right: 0;
		top: 0;
		bottom: 0;
		margin: 12px;
		height: 40px;
		right: -50px;
	}

}



/* TSI PAGE */
    .innovators .heading{
        font-size: 73.36px;
        font-weight: 800;
        color: white;
        text-transform: capitalize;
    }
    .innovators .tsi{
        padding:175px 0 0;
        background: url(../img/nsImg/tsi/tsiBg.png);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .innovators .tsi .swiper-container{
        position: relative;
        margin:40px 0 0;
    }
    .innovators .tsi .swiper-container .controls{
        position: absolute;
        height: 83px;
        width: 100%;
        max-width: 800px;
        padding: 0 15px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 999;
    }
    .innovators .tsi .swiper-container .controls .btn{
        cursor: pointer;
    }
    .innovators .tsi .swiper-container .controls .btnPrev{
        display: none;
    }
    .innovators .tsi .swiper-slide{
        border: 12px solid white;
    }
    .innovators .tsi .swiper-slide img{
        width: 840px;
    }
    .innovators .tsi .swiper-slide{
        position: relative;
        z-index: 99;
        background-color: white;
    }
    .innovators .tsi .swiper-slide:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        z-index: 5;
        left: 0;
        right:0;
        top: 0;
        margin: auto; 
    }
    .innovators .tsi .swiper-slide.swiper-slide-active:before{
        display:none;
    }
    .innovators .tsi .swiper-slide.swiper-slide-prev{
        opacity: .5;
        right: -30%;
        z-index: -1;
    }
    .innovators .tsi .swiper-slide.swiper-slide-next{
        opacity: .5;
        left: -30%;
        z-index: -1;
    }
    .innovators .swiper-pagination-fraction{
        color: white;
        font-size: 35.43px;
    }
    .innovators .swiper-pagination-fraction span{
        color: white;
        font-size: 35.43px;
    }
    .innovators .commentArea{
        padding: 50px 0;
        background-color: white;
        margin-bottom: 80px;
    }
/* TSI PAGE */


/* ss page */
#ss{padding: 0;}
#ss .note{
    color: #ff745b;
    font-size: 24px;
    display: block;
    line-height: 1;
    margin: 10px 0;
}

#ss .tagbox{
    font-size: 70px;
    color: #36cedc;
    line-height: 1.25;
    font-weight: 800;
}
#ss .list ul {
    padding: 0;
    margin: 0;
    list-style:none;
    margin: 25px 0;
}
#ss .list ul li{
    font-weight: 500;
}
#ss .list ul li span{
    font-size: 17px;
    color: #000000;
    font-weight: 800;
}

#ss .listBox{
    /* margin: 50px 0; */
    margin: 28px 0;
    padding: 0;
}
#ss  span.heading{
    display: block;
    padding-bottom:10px;
    font-size: 30px;
    color: #ee7609;
    border-bottom: 2px solid #f37214;
    font-weight: 800;
    margin-bottom: 7px;
    position: relative;
    z-index:10;
}
.img_wide img{width: 100%;}
#ss  span.heading:after{
    position: absolute;
    content: url(../img/headingbg.png);
    right: 0;
    bottom: -41px;
    right: 0;
    z-index: -1;
}
#ss  span.heading.t2:after{
    position: absolute;
    content: url(../img/headingbg2.png);
    right: 0;
    bottom: -73px;
    right: 0;
    z-index: -1;
}
#ss .listBox {
    position: relative;
    z-index: 30;
}
#ss .listBox .listItem{
    z-index: 50;
    display: table;
    margin: 20px 0;
    width: 100%;
}
#ss .listBox .listItem .left{
    display: table-cell;
    vertical-align: middle;
    width: 470px;
    height: 330px;
    /*border: 1px solid #dcdcdc;*/
}
#ss .listBox .listItem .left img{
    width: 470px;
    height: 330px;
   /* border: 1px solid #dcdcdc;*/
}
#ss .listBox .listItem img{border: 1px solid #dcdcdc;}
#ss .listBox .listItem .right{
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #dcdcdc;
    border-left:0;
    width: 100%;
    background: #fff
}
.listItem_center{padding:35px 0 10px;text-align: center;font-size: 20px;line-height: 1.6;}
.listItem_center > p{margin-bottom: 30px;}
#ss .listBox .listItem .right > p{margin-bottom: 30px;}
#ss .listBox .listItem .right{
    position: relative;
    padding-left: 100px;
}
#ss .listBox .listItem .right:before{
    position: absolute;
    content: url(../img/qoute1.png);
    left: 30px;
    top: 30px;
}
#ss .listBox .listItem .right:after{
    position: absolute;
    content: url(../img/qoute2.png);
    right: 30px;
    bottom: 30px;
}
#ss .listBox .listItem .right p{
    font-size: 20px;
    line-height: 1.5;
}
#ss .listBox .listItem .right .m10{
    margin-bottom: 15px;
}
#ss .firstStage{
    margin: 27px 0 50px;
    background: url(../img/fs.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#ss .firstStage span{
    display: block;
    text-align: center;
    line-height: 330px;
    font-size: 36.66px;
    color:white;
}
#ss .stepsBox{
    text-align: center;
}
#ss .stepBox{
    width: 386px;
    display: inline-block;
}
#ss .stepBox.alignLeft{
    float: left;
}
#ss .stepBox.alignRight{
    float: right;
}
#ss .stepBox img{
    margin-bottom: 30px;
}
#ss .stepBox span{
    display: block;
    font-size: 20px;
    color: #000000;
}
#ss .imgList {
    position: relative
}
#ss .imgList .smile{
    position: absolute;
    z-index: 15;
    bottom: 0;
}
#ss .imgList .smile.smile1{
    left: 25%;
}
#ss .imgList .smile.smile2{
    right: 30%;
}
#ss .imgList .imgBox{
    float: left;
    width: 33%;
    width: 446px;
    height: 446px;
    position: relative;
    z-index: 10;
}
#ss .imgList .imgBox img{
    width: 100%;
    max-width: 454px;
    max-height: 454px;
    border-radius: 50%;
    border: 2px solid #ee7d17;
}
#ss .imgList .imgBox:not(:first-of-type){
    margin-left: -33px;
    z-index: 5
}
#ss .imgList .imgBox:last-child{
    margin-left: -33px;
    z-index: 3;
}
#ss .msgBox{
    margin-top:30px;
    text-align: center;
}
#ss .msgBox span{
    font-size: 20px;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 3px solid #ee7609;
}

#ss .studentList{
    padding-top: 50px;
}
#ss .leftList{
    float: left;
    width: 693px;
    width: 100%;
    width: 55%;
    max-width: 693px;
}
#ss .leftList .studBox{
    display: table;
    margin-bottom: 30px;
}
#ss .leftList .studBox .imgPic{
    display: table-cell;
    width: 200px;
    vertical-align: middle;
}
#ss .leftList .studBox .imgPic img{
    width: 174px;
    height: 174px;
    border-radius: 50%;
    /*border: 2px solid #ee7609;*/
}
.ss_s{padding-top: 80px;}
.ss_s > p{margin-bottom: 30px;}
#ss .leftList .studBox .studInfo{
    display: table-cell;
    vertical-align: middle;
}
#ss .leftList .studBox .title{
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 15px;
    font-weight: 700;
}
#ss .leftList .studBox .title span{
    font-size: 25px;
    font-weight: 800;
}
#ss .leftList .studBox .studInfo p{
    font-size: 20px;
    margin: 0;
    letter-spacing: -.5px;
}
#ss .rightImg{
    float: left;
    width: 45%;
    max-width: 587px;
}
#ss .orgSection{
    background: url(../img/orgimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 857px;
}
#ss span.heading.white{
    color: white;
    border-color: white;
}
#ss span.heading.white:after{
    display: none;
}
#ss .btmNote{
    padding: 72px 0;
    background: url(../img/btmnote.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#ss .btmTex .head{
    display: block;
    color: white;
    font-size: 24px;
    margin-bottom: 40px;
}
#ss .btmTex p{
    font-size: 20px;
    color: white;
}
/* ss page */



/* tr page */
#trPage .banner{
    background: url(../img/t&rbanner.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#trPage .banner .tagBox{
    position: relative;
    background: rgba(0,0,0,.7);
    top: 45px;
    left: 45px;
    text-align: left;
    padding-left: 155px;
    max-width: 915px;
    padding-top: 35px;
    padding-bottom: 70px;
}
#trPage .banner .tagBox.icWhite .bgRed:before{
    position: absolute;
    content: '';
    width: 39px;
    height: 5px;
    background-color: white;
    bottom: -25px;
    left: 15px;
}
#trPage .banner .tagBox h3{
    font-size: 70.22px;
    margin: 30px 0;
    color: white;
    font-weight: 800;
}
#trPage .banner .tagBox p{
    font-size: 42.01px;
    color: white;
    font-weight: 700;
}
#trPage .trNotes{
    margin: 80px 0;
}
#trPage .trNotes p{
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-bottom: 35px;
}

#trPage  .kaist{
    padding: 80px 0;
    text-align: center;
}
#trPage  .kaist h3{
    position: relative;
    text-align: center;
    display: inline-block;
    border-top: 3px solid #f37214;
    padding-top:10px;

}
#trPage  .kaist p{
    margin-top: 60px;
    font-size: 20px;
    line-height: 1.25;
}
#trPage  .kaist .kaistBox{
    margin-top: 40px;
    float: left;
    text-align: center;
    width: 33%;
    max-width: 425px;
    padding: 0 15px;
}
#trPage  .kaist .kaistBox span{
    display: block;
    margin-top: 20px;
    font-size: 20px;
}

#trPage .people{
    padding: 120px 0;
}
#trPage .people .peopleBox{
    display: table;
    width: 100%;
    max-width: 550px;
}
#trPage .people .peopleBox .t-cell{
    display: table-cell;
    vertical-align: top;
}
#trPage .people .peopleBox .info{
    width: 220px;
}
#trPage .people .peopleBox .info img{
    width: 195px;
    height: 275px;
}
#trPage .people .peopleBox .subInfo .title{
    font-size: 30px;
    color: #ee7609;
    font-weight:800;
    display: block;
    border-top: 3px solid #ee7609;
    max-width: 269px;
}
#trPage .people .peopleBox .subInfo .name{
    font-size: 30px;
    color: #ee7609;
    font-weight:800;
    display: block;
}
#trPage .people .leftBox .peopleBox{
    margin-right: auto;
}
#trPage .people .rightBox .peopleBox{
    margin-left: auto;
}

#trPage .banner.heBox{
    background: url(../img/t&rbanner2.png);
}
#trPage .banner.heBox.wfdb{
    background: url(../img/t&rbanner3.png);
}
#trPage .banner.heBox.sp{
    background: url(../img/t&rbanner4.png);
}
#trPage .banner.heBox .tagBox{
    padding: 120px 90px;
}
#trPage .banner.heBox h3{
    font-size: 51.72px;
    font-weight: 700;
    margin: 0;
}
#trPage .banner.heBox .title{
    font-size: 51.72px;
    font-weight: 700;
    padding-left: 70px;
}

#trPage .map {
    padding: 120px 0;
}
#trPage .map.np {
    padding: 0;
}
#trPage .map .mapArea{
    position: relative;
    text-align: right;
}
#trPage .map .mapArea .locationInfo{
    position: absolute;
    bottom: 0;
    text-align: left;
}
#trPage .map .mapArea .locationInfo .title{
    font-size: 40.44px;
    display: block;
    font-weight: 700;
    padding-left: 45px;
    background-image: url(../img/mapIcon.png);
    background-repeat: no-repeat;
    background-position: left center;
}
#trPage .map .mapArea .locationInfo p{
    font-size: 24px;
    margin-top: 30px;
    color: #000;
}
#trPage .map .noteArea{
    margin:150px 0;
}
#trPage .map .noteArea p{
    font-size: 24px;
    color: #000;
}
#trPage .map .noteArea.margined p{
    margin-bottom: 35px;
}
#trPage .postBox {
    margin-bottom: 50px;
}
#trPage .postBox .ptitle{
    position: relative;
    display: block;
    padding: 10px 15px;
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

#trPage .postBox .ptitle:before{
    position: absolute;
    content: '';
    width: 9px;
    height: 23px;
    top: 0;
    left: 0;;
}
#trPage .postBox .ptitle:after{
    position: absolute;
    content: '';
    width: 23px;;
    height: 9px;
    top: 0;
    left: 0;
}
#trPage .postBox .ptitle.icRed:before{
    background: #dc052b;
}
#trPage .postBox .ptitle.icRed:after{
    background: #dc052b;
}
#trPage .postBox p{
    font-size: 20px;
    color: #000;
    letter-spacing: -.5px;
    line-height: 1.5;
    margin: 30px 0 30px;
}
#trPage .postGrid .headTitle{
    font-size: 35px;
    text-align: center;
    margin-bottom: 70px;
}
#trPage .postGrid .postBox{
    margin-bottom: 70px;
}
#trPage .postGrid .headTitle span{
    display: inline-block;
    border-top: 3px solid #ee7609;
    line-height: 1;
    padding-top: 15px;
}
#trPage .letterArea{
    padding: 45px 0;
    background: url(../img/letter.png);
    background-size: 100% 100%;
    background-position: center center;
}
#trPage .letterBox{
    position: relative;
    width: 100%;
    max-width: 950px;
    left: 80px;
}
#trPage .letterBox .letterHead{
    font-size: 25.9px;
    font-weight: 700;
    background: #ee7609;
    color: white;
    border-radius: 15px;;
    display: inline-block;
    padding: 7px 11px;
    margin-bottom: 35px;
}
#trPage .letterBox .letterBody{
    padding-left: 15px;
}
#trPage .letterBox .letterBody .mTop{
    display: block;
    font-size: 20px;
}
#trPage .letterBox .letterBody .mTop:last-of-type{
    margin-bottom: 35px;
}
#trPage .letterBox .letterBody p span{
    display: inline-block;
    font-size: 20px;
    color: #000;
    padding-bottom: 10px;
    line-height: 1;
 
}
#trPage .letterBox .letterBody p .bordered{
    border-bottom: 3px solid #ee7609;
}
#trPage .letterBox .letterBody p.text{
    font-size: 20px;
    margin-top: 35px;
}
#trPage .letterBox .letterBottom {
    margin-top: 30px;
}
#trPage .letterBox .letterBottom span{
    display: inline-block;
    font-size: 25px;
    font-weight: 800;
    border-bottom: 3px solid #ee7609;
}
#trPage .btmInfo{
    padding: 70px 0;
}
#trPage .btmInfo .headTitle{
    font-size: 35px;
    text-align: center;
    margin-bottom: 70px;
}
#trPage .btmInfo .headTitle span{
    display: inline-block;
    border-top: 3px solid #ee7609;
    line-height: 1;
    padding-top: 15px;
}
#trPage .btmInfo .infoBox .content{
    padding: 60px 0 60px 90px;
}
#trPage .btmInfo .infoBox p{
    font-size: 20px;
    margin-bottom: 30px;
}
/* tr page */


/* event */
#event header{
    margin-bottom: 0;
}
/* event */

/* constant */
.p50{
    padding:50px 0 !important;
}
.p100{
    padding:100px 0 !important;
}
.pb100{
    padding-bottom:100px !important;
}
/* constant */


.sv {
    padding-bottom: 100px;
    border-bottom: 10px solid #ee7609;
}
.sv .svBox{
    float: left;
    width: 100%;
    max-width: 416px;
}
.sv .svBox img{
    width: 100%;
    max-width: 416px;
    height: 267px;
}
.sv .svBox.middle{
    margin: 0 16px;
}
.sv .svBox .details {
    margin-top: 15px;
    display: table;
}
.sv .svBox .details img{
    width: 66px;
    height: 66px;
    display: table-cell;
    vertical-align: middle;
}
.sv .svBox .details .titleSub{
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}
.sv .svBox .details .title{
    font-size: 22px;
    color: #ee7609;
    display: block;
    line-height: 1;
    padding-bottom: 10px;
}
.sv .svBox .details .sub{
    font-size: 16px;
    letter-spacing: -.7px;
    color: #838383;
}




 




/* main page  */
#main{
    padding-bottom: 0;
}
#main .bannerSlider .navContainer{
    position: absolute;
    width: 100%;
    height: 190px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0 4%;
    z-index: 10;
}
#main .bannerSlider .navContainer img{
    width: 7%;;
}
#main .bannerSlider .item{
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: 50%;

}

#main .bannerSlider .contentContainer{
    position: inherit;
}
#main .bannerSlider .owl-carousel .owl-stage-outer{
    overflow: hidden;
}
#main .bannerSlider .item .contents{
    position: relative;
    background-color: rgba(255,255,255,0.7);
    display:inline-block;
    padding: 40px;
}
#main .bannerSlider .item .contents .type{
    font-size: 20px;
    color: white;
    text-align: center;
    display: inline-block;
    width: 187px;
    padding-right: 16px;
    line-height: 37px;
    margin-left: -65px;
    margin-bottom: 20px;
}
#main .bannerSlider .item .contents .type.right{
    text-align: right;
    width: 251px;
}
#main .bannerSlider .item .detailsArea p{
    font-size: 45px;
    font-weight:500;
    color: #191919;
    word-break: keep-all;
}
#main .bannerSlider .item .detailsArea .sub{
    font-size: 18px;
    color: 191919;
    display: block;
    margin: 25px 0 50px;
}
#main .bannerSlider .item .contents a{
    font-size: 16px;
    color: #191919;
    width: 212px;
    border: 1px solid #191919;
    display: block;
    text-align: center;
    outline: none;
    line-height: 54px;
}

#main .bannerSlider .item .contents a:hover{
    text-decoration: none;
}
#main .bannerSlider .owl-dots{
    display: none;
}
#main .bannerSlider .owl-dots{
    display: block;
    text-align: left;
    margin-top: 85px;
    position: absolute;
    width: 1280px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
}
#main .bannerSlider  .owl-dots .owl-dot{
    width: 100%;
    max-width: 251px;
    line-height: 11px;
    height: 11px;
    outline: none;
    border-right: 1px solid #afafb1;
}
#main .bannerSlider .owl-dots .owl-dot:not(:first-child){
    margin-left: 9px;
}
#main .bannerSlider  .owl-dots .owl-dot:hover,#main .bannerSlider .owl-theme .owl-dots .owl-dot.active{
    border-color: #000;
}
#main .bannerSlider  .owl-dots .owl-dot span{
    display: block;
    width: 100%;
    margin: 0;
    margin-right: 10px;
    max-width: 240px;
    height: 1px;
    background-color: #afafb1;
}
#main .bannerSlider .owl-dots .owl-dot.active span, #main .bannerSlider .owl-theme .owl-dots .owl-dot:hover span{
    background-color: #000;
}

#main .level{
    padding: 117px 0;
    background:white;
}
#main .level .heading .title{
    display: block;
    position: relative;
    font-size: 35px;
    font-weight: 800;
    padding: 12px 0 18px 15px;
    line-height: 1;
}
#main .level .heading .sub{
    font-size: 18px;
    color: #525251;
}
#main .level .heading .white{
    color: white;;
}
#main .level .heading .red{
    color: #dc052b;
}
#main .level .heading .title:before{
    position: absolute;
    content: '';
    width: 27px;
    height: 9px;
    top: 0;
    left: 0;
}
#main .level .heading .title:after{
    position: absolute;
    content: '';
    width: 9px;
    height: 27px;
    top: 0;
    left: 0;
}
#main .level .heading .title.orange:before{
    background: #ee7609;
}
#main .level .heading .title.orange:after{
    background: #ee7609;
}
#main .level .heading .title.white:before{
    background: #fff;
}
#main .level .heading .title.white:after{
    background: #fff;
}
#main .level .heading .title.red:before{
    background: #dc052b;
}
#main .level .heading .title.red:after{
    background: #dc052b;
}
#main .level .boxArea{
    padding-bottom:40px;
}
#main .level .imgBox{
    margin-top: 40px;
    position: relative;
    margin-bottom: 40px;
}
#main .level .imgBox:before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
}#main .level .imgBox img{
    width: 100%;
}
#main .level .iconW:before{
    content: url(../img/iconW.png);
}
#main .level .iconO:before{
    content: url(../img/iconO.png);
}
#main .level .iconR:before{
    content: url(../img/iconR.png);
}
#main .level .imgBox .titleBox{
    font-size: 18px;
    color: white;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 260px;
    line-height: 35px;
    height: 35px;
    font-weight: 800;
    padding-left:21px;
    left: 0;
    bottom: -15px;
}
#main .level .imgBox .titleBox.bgWhite{
    color: #000000;
}

#main .level .contentBox .title{
    font-size: 25px;
    color: #525251;
    font-weight: 800;
    display: block;
    line-height: 1;
}
#main .level .contentBox .sub{
    font-size: 15px;
    color: #525251;
    display: block;
    margin-top: 15px;
    line-height: 1;
}
#main .level .contentBox.white span{
    color: white;
}
#main .level.orangeBg{
    background:url(../img/bgorange.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#main .bgGray{
    padding: 0;
}
#main .logoBox{
    padding: 40px 0;
}
#main .logoBox div{
    padding: 0 10px;
}
#main .logoBox .logoHolder{
    line-height: 160px;
    padding: 0;
    text-align: center;
    background-color: white;
}
#main .logoBox .siteLinks{
    padding: 0;
    background-color: white;
    margin-bottom: 25px;
}
#main .logoBox .siteLinks ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 90px;
}
#main .logoBox .siteLinks ul li{
    display: inline-block;
}
#main .logoBox .siteLinks ul li:not(:first-child){
    margin-left:5px;
}
/* #main .logoBox .box{
    width: 50%;
    max-width: 197px;
    background: #fff;
    text-align:center;
}
#main .logoBox .box .logoHolder{
    display: table;
    width: 100%;
    height: 117px;
}
#main .logoBox .box .logoHolder img{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
} */

/* main page */


/* footer */
#footerWrap {
    overflow: hidden;
    padding-top: 18px;
    padding-bottom: 18px;
    background: #3f3f3f;
}
#footerWrap .details {
    overflow: hidden;
    float: left;
    width: 68%;
}
#footerWrap .logo-b {
    float: left;
    display: inline-block;
    margin-right: 7.9%;
}
#footerWrap .site-notice {
    float: left;
    display: inline-block;
    text-align: center;
}
#footerWrap .site-notice ul {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding:0;
}
#footerWrap .site-notice li {
    float: left;
    line-height: 3.8;
    list-style: none;
}
#footerWrap .site-notice li:first-child {
    margin-right: 3.5px;
    padding-right: 5px;
    background: url(../img/bg_site_notice.gif) no-repeat right center;
}
#footerWrap .copyright {
    float: left;
    display: inline-block;
    margin-left: 2.34%;
    line-height: 57px;
    font-size: 15px;
    color: #e8e8e8;
    letter-spacing: -0.5px;
    margin-bottom: 0;
}
#footerWrap .link-wrap {
    float: right;
    width: 32%;
}
#footerWrap .sns-wrap {
    float: left;
    margin-top: 3px;
    overflow: hidden;
}
#footerWrap .sns-wrap  ul{
    padding: 0;
}
#footerWrap .sns-wrap li {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 0 2px;
    vertical-align: middle;
}
#footerWrap .sns-wrap li > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background-size: 100%;
    background-repeat: no-repeat;
}
#footerWrap .sns-wrap li .sns-fb {
    background-image: url(../img/btn_sns_fb.jpg);
}
#footerWrap .sns-wrap li .sns-b {
    background-image: url(../img/btn_sns_b.jpg);
}
#footerWrap .sns-wrap li .sns-ks {
    background-image: url(../img/btn_sns_ks.jpg);
}
#footerWrap .sns-wrap li .btn-down {
    background-image: url(../img/btn_down.jpg);
}
#footerWrap .site-notice li a, #footerWrap .site-notice li button {
    font-size: 14px;
    font-size: 15px;
    color: #fff;
    letter-spacing: -0.5px;
} 
#footerWrap .newsletter {
    display: inline-block;
    float: right;
    width: 165px;
    max-width: 175px;
    font-size: 14px;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0;
    border: 1px solid #b3b3b2;
    padding: 14px 0;
    text-align: center;
}
#footerWrap .newsletter img {
    max-width: 100%;
    margin-right: 10px;
}
/* footer */

a{
    text-decoration: none !important;
}
.np{
    padding: 0;
}
.p80{
    padding-bottom: 80px;
}


/* #essay */
#essay{
	position: relative;
    background: url(../img/essaybg2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 450px;
}
.has_orcon .icon {
    position: absolute;
    width: 100%;
    width: 135px;
    height: 135px;
    z-index: 15;
}

.has_orcon .ricon {
    top: 0;
    left: 0;
}
.has_orcon .ricon:before{
    position: absolute;
    content: '';
    width: 135px;
    height: 45px;
    background: #dc052b;
}
.has_orcon .ricon:after{
    position: absolute;
    content: '';
    width: 45px;
    height: 135px;
    background: #dc052b;
}

.has_orcon .oicon {
    bottom: 0;
    right: 0;
}
.has_orcon .oicon:before{
    position: absolute;
    content: '';
    width: 135px;
    height: 45px;
    bottom: 0;
    background: #ee7609;
}
.has_orcon .oicon:after{
    position: absolute;
    content: '';
    width: 45px;
    right: 0;
    height: 135px;
    background: #ee7609;
}
#essay .rounded{
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    width: 85px;
    line-height: 85px;
    border-radius: 50%;
    border: 1px solid;
}
#essay .rounded.red{
    border-color: #dc052b;
}
#essay .sub{
    font-size: 18px;
    display: block;
    color: #191919;
}
#essay h3{
    font-size: 50px;
    color: #191919;
    line-height: 1.25;
}
#essay h3 strong.period{display: inline-block;}
#essay h3 strong.period:after{display: inline-block;content: '';width: 9px;height:9px;border: 2px solid #dc052b;border-radius: 100%;position: relative;top:2px;}
.essayContent .postings{
    position: relative;
    margin-top: 90px;
    margin-bottom: 90px;
}
.essayContent .postings .details .head{
    font-size: 18px;
    font-weight: 800;
    display: block;
    margin-bottom: 10px;
}
.essayContent .postings .details p{
    font-size: 18px;
    letter-spacing: -.2px;
    margin-bottom: 35px;
    color: #424242;
    line-height: 1.7;
}
.essayContent .postings .details p span{
    font-weight: 800;
}
.essayContent .boxes{
    margin-bottom: 120px;
}
.essayContent .title{
    font-size: 30px;
    color: #000000;
    display: block;
    line-height: 1;
    position: relative;
    line-height: 63px;
    border-top: 3px solid;
    padding-left: 76px;
    margin-bottom: 34px;
}
.essayContent .title:before{
    position: absolute;
    content: '';
    width: 63px;
    height: 22px;
    left: 0;
    top: -3px;
}
.essayContent .title:after{
    position: absolute;
    content: '';
    width: 22px;
    height: 63px;
    left: 0;
    top: -3px;
}
.essayContent .orange .title{
    border-color: #ee7609;
}
.essayContent .orange .title:before,
.essayContent .orange .title:after{
    background-color: #ee7609;
}
.essayContent .red .title{
    border-color: #dc052b;
}
.essayContent .red .title:before,
.essayContent .red .title:after{
    background-color: #dc052b;
}
.essayContent .boxes .content{
    margin-top: 30px;
}
.essayContent .boxes .content p{
    font-size: 18px;
    color: #424242;
    margin-bottom: 40px;
    word-break: keep-all;
    line-height: 1.7;
}
.essayContent .boxes .content p span{
    font-weight: 800;
}
.essayContent .qouteBox{
    position: relative;
    width: 100%;
    max-width: 975px;
    margin: 0 auto;
    margin-bottom: 90px;
}
.essayContent .qouteBox span{
    display: block;
    line-height: 1.5;
    font-size: 30px;
    padding: 75px 0;
}
.essayContent .icon{
    position: absolute;
    width: 100%;
    height:100%;
}
.essayContent .redIcon:before{
    position: absolute;
    content: '';
    width: 20px;
    height: 59px;
    top: 0;
    left: 0;
    background-color:#dc052b;
}
.essayContent .orangeIcon:after{
    position: absolute;
    content: '';
    width: 59px;
    height: 20px;
    top:0;
    left: 0;
    background-color:#dc052b;
}
.essayContent .orangeIcon:before{
    position: absolute;
    content: '';
    width: 20px;
    height: 59px;
    bottom: 0;
    right: 0;
    background-color:#ee7609;
}
.essayContent .redIcon:after{
    position: absolute;
    content: '';
    width: 59px;
    height: 20px;
    bottom:0;
    right: 0;
    background-color:#ee7609;
}
.essayContent .imgBoxl{float: left; padding-right: 30px;}

@media only screen and (max-width: 414px){
.essayContent .imgBoxl{padding-bottom: 20px;}
}

.essayContent .content .righttxt {padding-top: 40px; }
/* #essay */


/* event2 */
.tsvt-form{
    width: 100%;
    background-color: transparent;
    padding: 100px 0;
    max-width: 1087px;
    margin:0 auto;
}
.tsvt-form .form{
    position: relative;
    background: white;
    width: 100%;
    padding: 50px 0 30px;
    border: 6px solid #00b050;
    border-radius:20px;
}
.tsvt-form .form.npt{
    padding-top: 0;
}
.tsvt-form img{
    width: 100%;
    max-width: 815px;
    margin: 0 auto;
}
.tsvt-form .npt > h3{
    font-size: 30px;
    font-weight: 700;
}
.tsvt-form .npt > p{
    font-size: 23px;
    font-weight: 700;
}
.tsvt-form .myBtn{
    max-width: 350px;
    line-height: 74px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 30px;
    display: block;
    text-decoration: none;
}
.myBtn.btnGreen{
    background-color: #00b050;
    color: white;
}
.tsvt-form .nmt{
    margin-top: 0;
}
.tsvt-form form{
    max-width: 867px;
    margin: 50px auto;
}
.tsvt-form form input[type="text"]{
    width: 100%;
    max-width: 290px;
    height: 53px;
    line-height: 53px;
    border: 1px solid #00b050;
    outline: none;
    padding: 0 15px;
    font-size: 18px;
}
.tsvt-form form .fixed{
    max-width: 244px;
}
.tsvt-form form label{
    font-size: 20px;
    color: #1a1a1a;
    font-weight: 700;
    margin-right: 15px;
}
.tsvt-form form textarea{
    width: 100%;
    max-width: 440px;
    height: 253px;
    border: 1px solid #00b050;
    outline: none;
    padding: 5px 15px;
    font-size: 18px;
}
.tsvt-form form span{
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    color: #1a1a1a;
    font-weight: 700;
}
.tsvt-form form span.note{
    font-size: 15px;
    font-weight: 400;
}
.tsvt-form form .radioBox span{
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 5px;
}
.tsvt-form form .radioBox .inlined{
    display: inline-block;
    margin-left: 20px;
}
.tsvt-form form .radioBox .inlined div{
    display: inline-block;
}
.tsvt-form form .radioBox .inlined div label{
    padding:0;
    font-size: 15px;
    font-weight: 400;
    margin-right: 20px;
    display: inline-block;
}
.tsvt-form form .other  a{
    font-size: 15px;
    color: #2f5597;
    font-weight: 700;
    white-space: nowrap;
}
.tsvt-form .btnBox .mybtn2{
    width: 173px;
    display: inline-block;
    line-height: 54px;
    text-decoration: none;
    text-align: center;
    color: #000; 
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 18px;
}
.btnYellow{
    background-color: #fbc33e;
}
.btnGray{
    background-color: #b3b3b3;
}
/* event2 */

/*goTop*/
.goTop {
    position: fixed;
    bottom: 18%;
    right: 11%;
    opacity: 0;
    visibility: hidden;
    display: block;
    transition: opacity .5s linear;
    z-index: 900;
}
.goTop.active {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s linear;
}
.h-sv-slider .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
}
.h-sv-slider .owl-carousel .owl-nav button{
    z-index: 99;
}
.h-sv-slider .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    height: 146px;
    left: -39px;
    top: 0;
    bottom: 0;
    margin: auto;
    outline: none;
}
.h-sv-slider .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    height: 146px;
    right: -39px;
    top: 0;
    bottom: 0;
    margin: auto;
    outline: none;
}
/*goTop end*/

.modal-bg{
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 990;
    display: none;
}

.modal-bg .modal-box{
    width: 100%;
    max-width: 580px;
    height: 280px;
    /*background: white;*/
    position: absolute;
    top:calc(50% - 50px);
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.modal-bg .modal-box .modal-top{
    padding: 26px 29px;
    background: #ee7609;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.modal-bg .modal-box .modal-con{
    padding: 30px;
    font-size: 16px;
    background: white;
    color: #222;
    position: relative;
}
.modal-bg .modal-box p{
    margin:0;
}

.modal-bg#subscribe .modal-box .modal-con p:not(.noborder){
    padding-bottom:1px;
    border-bottom:1px solid #d7d7d7;
}
.modal-bg .modal-box .btn-subscribe,
.modal-bg .modal-box .btn-modal-close{
    width: 90px;
    height: 38px;
    line-height: 38px;
    margin-top: 30px;
    background: #595656;
    outline: 0;
    border:0;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
}
.modal-bg .modal-box .btn-subscribe{
    background: #ee7609;
    width: initial;
    padding:0 15px;
    /*margin-top:-1px;*/
}
.modal-bg#subscribe .modal-box{
    top:calc(50% - 100px);
    display: none;
}
.modal-bg#subscribe .modal-box.active{
    display: block;
}
.modal-bg#subscribe .modal-box .modal-top{
    background: #e31937;
}
.modal-bg .modal-box img{
    margin: 33px auto 42px;
}
.modal-bg .modal-box input{
    width: 100%;
    margin: 20px auto 0;
    padding: 16px 30px;
    font-size:13px;
    /*box-sizing: border-box;*/
    border:1px solid #d7d7d7;
    outline:0;
}
.modal-bg .modal-box .modal-con a{
    position: absolute;
    bottom:30px;
    right: 30px;
    border-bottom:1px solid black;
    line-height: 20px;
    color:black;
}
.modal-bg#subscribe .modal-box .btn-modal-close{
    padding:0;
}
.modal-bg#subscribe .modal-box .radios{
    border-bottom:1px solid #d7d7d7;
    padding-bottom:30px;
}
.modal-bg#subscribe .modal-box .input-radio{
    display: inline-block;
    margin-top:30px;
    padding-bottom:30px;
    
}
.modal-bg#subscribe .modal-box .input-radio *{
    float:left;
}
.modal-bg#subscribe .modal-box .input-radio input{
    width: initial;
}
.modal-bg#subscribe .modal-box .input-radio:last-child{
    margin-left:70px;
}
.modal-bg#subscribe .modal-box p.noborder{
    color:#787878;
    font-size:14px;
    margin-top:14px;
    line-height: 16px;
}
.modal-bg#subscribe .modal-box p.noborder span{
    font-size:18px;
}
.modal-bg#subscribe .modal-box .input-radio label{
    margin-top:13px;
    margin-left:10px;
    font-size: 16px;
    font-weight: 700
}
.modal-bg#subscribe .modal-box#change button{
    width: 72px;
    height: 38px;
    box-sizing: content-box;
    padding:0;
}

.centerText{padding: 156px 0 163px;text-align: center; font-family: 'Nanum Myeongjo', sans-serif;font-size: 20px;font-weight: 400;line-height: 1.75;letter-spacing: -1px;}
.leftText{padding: 88px 0 65px;text-align: left; font-family: 'Nanum Myeongjo', sans-serif;font-size: 20px;font-weight: 800;line-height: 1.65;color: #252525;}
.centerText strong{font-weight: 800;}
.leftText > p:first-child{margin-bottom: 36px;}
.leftText > p{margin-bottom: 16px;}
.leftText .orgTxt{font-family: 'Nanum Gothic', sans-serif;color: #ee7609;font-weight: 400;margin-top: -10px;}
.br{font:0;line-height: 0}
.lts1{letter-spacing: -1px;}
.pr0{padding-right: 0;}
.prt01{padding-right: 42px;}
img.ib{display: inline-block}
.cr_org{color: #ee7609}
.postings.type2 .col-sm-6:nth-child(1){width: 55%}
.postings.type2 .col-sm-6:nth-child(2){width: 45%}
.txt-type01{font-size: 13px;color: #3f3f3f;display: block;position: absolute;bottom: -59px;right:0;}
.infoList.m1{margin-bottom: 65px;}
.hsv_btn .cta{margin: 79px auto 0;}
.sv_box{font-size: 20px;color: #000;margin-bottom: 98px;}
.sv_box.p1{margin-bottom: 41px;}
.sv_box .heading{
	font-size: 30px;
    padding-bottom: 12px;
    border-bottom: 2px solid #dc052b;
    font-weight: 800;
    display: block;
    line-height: 1;
    margin-bottom: 32px;
    color: #dc052b;
}
.sv_box > p{line-height: 1.7}
.sv_list1{font-size: 20px;color: #000;text-align: center;margin: 0 -30px;margin-bottom: 59px;margin-top: 30px;}
.sv_list1 .tit{margin-top:26px;display: block;font-size: 20px;font-weight: 700;color: #ee7609;font-style: normal}
.sv_list1 .tit .big{font-size: 30px;}
.textBox{line-height: 1.7}
.textBox .orgTxt{color: #ee7609}
.sv_item .title{font-size: 25px;font-weight: 700;color: #ee790e;display: block;    margin-bottom: 10px;}
.sv_item .col{float: left;}
.sv_item{padding: 50px 0 57px;font-size: 20px;color: #000;line-height: 1.7;background:url(../img/line.png) no-repeat 50% 0 / 100% auto;}
.hasLineBg{margin-top: 69px;padding: 80px 0 57px;font-size: 20px;color: #000;line-height: 1.7;background:url(../img/line.png) no-repeat 50% 0 / 100% auto;}
.hasLineBg .img{margin: 98px 0 33px}
.sv_item .col_txt{width: 60%;}
.sv_item .col_img{width: 40%;padding-top: 11px;}
.sv_item .list3{margin-bottom: 15px;}
.list3,
.list3 li{list-style: none;padding: 0;margin: 0}
.list3 li{padding-left: 25px;background: url(../img/bul.png) no-repeat 0 5px;}
.sv_item .col_txt.left{padding-right: 50px;}
.sv_item .col_txt.right{padding-left: 50px;}

.hsvBot{text-align: center;color: #fff;font-size: 22px;line-height: 1.65;padding: 19.7% 0 3.2%;font-family: 'Nanum Myeongjo', sans-serif;background: url(../img/hsv_bg.png) no-repeat 50% 0 / cover;}

.orgBg{background-color: #ee7609;font-size: 20px;color: #ffff;font-weight: 700;line-height: 1.7;padding: 38px 0;
    margin-bottom: 63px;}
    .dl01{    margin-top: 36px;}
    .dl01 dt,
    .dl01 dd{font-size: 20px;font-weight: 900;color: #ee7609;}
    .dl01 dd{font-weight: 400;margin-top: 5px;}

.proBono{background-color: #f6f6f6;padding:63px 0 55px;}
.proBono .imgBox{position: relative;margin: 0 30px;}
.proBono .imgBox:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
}
.proBono .imgBox.iconRL:before {
    content: url(../img/iconRL.png);
}
.proBono .imgBox img{width: 100%;}
.proBono .tit{font-size: 42px;color: #dc052b}
.proBono .contentBox{padding-top: 2px;font-size: 15px;color: #5b5b5b;}
.proBono .name{display: block;font-size: 28px;color: #5b5b5b;margin: 20px 0 17px;}
a.btn_go{
    font-size: 16px;
    color: #191919;
    width: 212px;
    border: 1px solid #191919;
    display: inline-block;
    text-align: center;
    outline: none;
    line-height: 47px;
}

#tsvt-section .evt-top .tsvt-intro{
	max-width: 1280px;
    margin: auto;
    margin-top: 68px;
    padding-bottom:78px;
    /*background:  url(../img/event/type01/bg.png) no-repeat 50% 0 /cover;*/
    background:#f2e4cb;
}
#tsvt-section .evt-top .tsvt-intro2{
	background:#c3e3eb;
}

/*#tsvt-section .evt-top.type2 .tsvt-intro{background-image:  url(../img/event/type02/bg.png)}*/
.quiz_box{background-color: #fef8e7;border: 2px solid #303030;position: relative;margin: 0 auto;width: 1060px;}
.type2 .quiz_box{background-color: #fffcf3;}
.quiz_box button{overflow:visible;border:0 none;background:transparent;cursor:pointer;apperance:0;}
.quiz_box .label{position: absolute;top:-15px;left:50px;}
.quiz_box .step{display: none}
.quiz_box .step_00{padding: 83px 0 54px;}
.quiz_box .notice{margin-bottom: 28px;}
.quiz_box .question{/*padding: 86px 0 69px;*/padding: 71px 0 69px;color: #1a1a1a;font-weight: 700;font-size: 18px;}
.quiz_box .question .tit{/*margin-bottom: 45px;*/margin-bottom: 31px;color: #000;font-weight: 800;font-size: 45px;color: #565656;}
.quiz_box .question > p{margin-bottom: 0;min-height:60px}
.quiz_box .question .ox_zone{margin-top: 38px;}
.quiz_box .question .ox_zone button{margin: 0 65px;}
.quiz_box .question .timer{position:absolute;bottom:26px;right:43px;font-size: 18px;background: #afafaf;color: #fff;font-weight: 700;display: inline-block;padding: 6px 10px;min-width: 136px;text-align: center}
.quiz_box .popup{display:none;position: absolute;top:0;left:0;bottom:0;right:0;width: 100%;height:100%;}
.quiz_box .popup .inner{
	display: table;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -25%;
    box-sizing: border-box;
}
.quiz_box .popup.correct .inner{
	width: 40%;
    margin-left: -20%;
}
.quiz_box .popup.correct .article{text-align: center;padding: 32px 0;font-size: 38px;font-weight: 800;}
.quiz_box .popup.wrong .w_tit{color: #fff;font-weight: 800;font-size: 32px;font-style: normal}
.quiz_box .popup .cont{display: table-cell;vertical-align: middle}
.quiz_box .popup .article{background: #f78dbe;border-radius: 15px;color: #fff;font-size: 17px;line-height: 1.3;padding: 39px 42px 10px;}
.quiz_box .popup .txt{margin: 20px 0 19px;border-bottom: 1px solid #fff;padding-bottom: 40px;letter-spacing: -1px;}
.quiz_box .popup .btn_yn{padding: 9px 0 22px;}
.quiz_box .step_end .end{display: table;height:514px;width: 100%;}
.quiz_box .step_end .inner{display: table-cell;text-align: center;vertical-align: middle}
.quiz_box .popup.correct{background: rgba(38,38,38,0.42);}
.type2 .quiz_box .popup .article{background-color: #df4a31;}








.newStyle           { width:100%; display:inline-block; position:relative; }

.newStyle .nsBox             { position:relative; }
.newStyle .nsBox:after    { content:''; display:inline-block; border-top:45px solid #dc052b; border-left:45px solid #dc052b; position:absolute; top:0; left:0; width:135px; height:135px; }
.newStyle .nsBox:before    { content:''; display:inline-block; border-bottom:45px solid #ff6600; border-right:45px solid #ff6600; position:absolute; bottom:0; right:0; width:135px; height:135px; }

.newStyle .ns_top             { text-align:center; height:450px; background:url(../img/nsImg/essaybg.png) no-repeat 50% 50% /cover; }
.newStyle .ns_top2             { text-align:center; height:555px; background:url(../img/nsImg/ns2_top.png) no-repeat 50% 50% /cover; }
.newStyle .ns_top3             { text-align:left; height:450px; background:url(../img/nsImg/ns3_top.png) no-repeat 50% 50% /cover; }
.newStyle .ns_top3 img          { margin:80px 0 0 60px; }
.newStyle .ns_top4             { text-align:left; height:512px; background:url(../img/nsImg/ns4_top.png) no-repeat 50% 50% /cover; }
.newStyle .ns_top4 img          { margin:120px 0 0 60px; }
.newStyle .ns_top6             { text-align:center; height:450px; background:url(../img/nsImg/svbg.png) no-repeat 50% 50% /cover; }
.newStyle .nsBol   { width:122px; height:122px; display:inline-block; border:1px solid #e12647; border-radius:100%; font-size:28px; color:#dc052b; font-weight:bold; text-align:center; line-height:118px; margin:70px 0 0; }
.newStyle .nsTit            { display:block; text-align:center; font-size:72px; color:#191919; padding:20px 0; }
.newStyle .nsTit:after  {display: inline-block;content: '';width: 9px;height:9px;border: 2px solid #dc052b;border-radius: 100%;position: relative;top:12px;}
.newStyle .nsTit span       { font-weight:normal; }
.newStyle .nsTxt            { display:block; text-align:center; font-size:26px; color:#191919; }

.newStyle .cenTxt			{ text-align:center; font-size:20px; color:#424242; padding:100px 0; line-height:180%; }

.ns_lineTit					{ width:100%; border-top:3px solid #ee7609; position:relative; max-width:1280px; margin:0 auto; } 
.ns_lineTit:after			{ content:''; top:0; left:0; width:66px; height:66px; border-top:22px solid #ee7609; border-left:22px solid #ee7609; position:absolute; }
.ns_lineTit strong			{ display:block; padding:20px 0 0 76px; font-size:30px; color:#000; font-weight:normal; }
.ns_lineTit.ns_lineTit2				{ border-color:#dc052b; } 
.ns_lineTit.ns_lineTit2:after			{ border-color:#dc052b; }

.nsImgBox				{ display:block; max-width:1280px; margin:0 auto; position:relative; overflow:hidden; padding:40px 0 80px; font-size:20px; color:#424242; line-height:180%; }
.nsImgBox p				{ padding:40px 0 0; }
.nsImgBox .lImg			{ float:left; margin-right:70px; }

.ns1_box1				{ width:100%; background:url(../img/nsImg/ns1_box1_bg.png) no-repeat 50% 50%/cover; text-align:center; padding:60px 0; }
.ns1_box1 .tit			{ font-size:30px; color:#fff; }
.ns1_box1 img			{ width:auto; max-width:100%; margin:40px 0; }
.ns1_box1 .txt			{ font-size:20px; color:#fff; line-height:180%; }

.ns1_box2				{ width:100%; background:url(../img/nsImg/ns1_box2_bg.png) no-repeat 50% 50%/cover; text-align:center; padding:75px 0; }
.ns1_box2 p				{ width:540px; font-size:20px; line-height:180%; text-align:left; background:#fff; padding:30px; display:inline-block; margin-left:600px; }

.nbbWrap				{ padding:100px 0 100px; margin:100px 0 0; }
.nsBlBox				{ max-width:1280px; margin:0 auto; }
.nsBlBox .tit			{ border-bottom:1px solid #f37214; font-size:30px; color:#ee7609; font-weight:bold; margin:0 0 30px; }
.nsBlBox .cont			{ padding:55px 0; position:relative; width:100%; display:inline-block; font-size:20px; color:#000; line-height:180%; }
.nsBlBox .cont .sCom		{ position:absolute; top:0; left:0; width:41px; }
.nsBlBox .cont .sCom img	{ width:100%; }
.nsBlBox .cont .eCom		{ position:absolute; bottom:0; right:0; width:41px; }
.nsBlBox .cont .eCom img	{ width:100%; }
.nsBlBox .cont p			{ width:100%; display:inline-block; padding:40px 0 0; font-size:20px; color:#000; line-height:180%; }
.nsBlBox .cont .fl			{ float:left; margin:0 40px 0 0; }
.nsBlBox .mb				{ margin:0 0 40px; }

.ns2Con						{ max-width:1280px; margin:0 auto 75px; overflow:hidden; position:relative; }
.ns2Con dt					{ float:left; }
.ns2Con dd					{ position:absolute; top:0; left:695px; display:table; height:322px; width:calc(100% - 695px); }
.ns2Con dd p				{ vertical-align:middle; line-height:180%; height:100%; font-size:20px; color:#000; display:table-cell; }

.cenImg						{ width:100%; }
.cenImg img					{ width:100%; }

.txImBox					{ padding:60px 0 80px; }
.txImBox .inner				{ max-width:1280px; margin:0 auto; overflow:hidden; }
.txImBox .txt				{ float:left; width:730px; position:relative; padding:55px 0; font-size:20px; color:#000; line-height:180%; margin:0 0 40px; }
.txImBox .txt .sCom		{ position:absolute; top:0; left:0; width:41px; }
.txImBox .txt .sCom img	{ width:100%; }
.txImBox .txt .eCom		{ position:absolute; bottom:0; right:0; width:41px; }
.txImBox .txt .eCom img	{ width:100%; }
.txImBox .img				{ float:right; width:492px; padding:20px 0 0; }
.txImBox .img img			{ margin:0 0 24px; }

.txBox						{ width:100%; padding:50px 0; }
.txBox .inner				{ max-width:1280px; margin:0 auto; overflow:hidden; }
.txBox .inner .tit			{ color:#fff; font-size:30px; border-bottom:1px solid #fff;  font-weight:bold; margin:0 0 30px; }
.txBox .inner .cont			{ color:#fff; font-size:20px; line-height:180%; }

.ns_bot						{ width:100%; padding:65px 0; background:url(../img/nsImg/ns_bot_bg.png) 50% 50% no-repeat/cover; text-align:center; }
.ns_bot .inner>img					{ max-width:1280px; width:100%; }
.ns_bot a					{ display:inline-block; padding:30px 0 0; }
.ns_bot a img				{ width:auto; max-width:100%; padding:0 30px; }

.txtBox						{ padding:50px 0; width:100%; }
.txtBox .inner				{ max-width:1280px; margin:0 auto; }
.txtBox .inner .tit			{ height:357px; font-size:40px; padding:104px 0 0 130px; }
.txtBox .inner .tit1		{ background:url(../img/nsImg/ns4_titBg1.png) 50% 50% no-repeat; color:#fff; }
.txtBox .inner .tit2		{ background:url(../img/nsImg/ns4_titBg2.png) 50% 50% no-repeat; color:#1a1919; }
.txtBox .inner .tit3		{ background:url(../img/nsImg/ns4_titBg3.png) 50% 50% no-repeat; color:#000; padding-left:710px; }
.txtBox .inner ul			{ width:100%; display:inline-block; list-style-type:none; padding:40px 0; }
.txtBox .inner ul li		{ float:left; width:50%; list-style-type:none; font-size:20px; line-height:180%; padding:0 10px; box-sizing:border-box; }
.txtBox .inner ul li img	{ width:100%; }
.txtBox .inner .orgTxt		{ width:100%; padding:20px 0; text-align:center; color:#fff; background:#ee7609; line-height:180%; font-size:20px; }
.cenBgTxt					{ padding:291px 0 80px; text-align:center; font-size:20px; color:#000; background:url(../img/nsImg/ns4_img2.png) 50% 100px no-repeat; line-height:180%; }
.txtBox .inner p			{ width:100%; display:inline-block; font-size:20px; line-height:180%; }
.txtBox .inner p .fl		{ float:left; margin:0 70px 0 0; }
.txtBox .inner .leftBgTxt	{ padding:60px 360px 60px 0; font-size:20px; line-height:180%; text-align:left; background:url(../img/nsImg/ns4_img4.png) 100% 50% no-repeat; }
.txtBoxFoot					{ background:url(../img/nsImg/ns4_txtBg.png) 50% 50% no-repeat; height:320px; width:100%; padding:70px 0; }
.txtBoxFoot .inner			{ max-width:1280px; margin:0 auto; font-size:20px; color:#fff; line-height:180%; text-align:center; }


.sv_top_txt {margin-top:70px;border-top:2px solid #ee7609;border-bottom:2px solid #ee7609;text-align:center;padding:50px 0;font-size:20px;line-height:34px;}
.sv_wrap {max-width:1280px;margin:0 auto;}
.sv_wrap.type_h_sv {max-width:100%;}
.sv_wrap.type_h_sv .h_sv_cnt {max-width:1280px;margin:0 auto;}
.sv_wrap .br {display:block;}
.sv_cnt {}
.sv_cnt .sv_sec {width:100%;margin-top:75px;padding:40px 0;border:1px solid #dcdcdc;text-align:center;overflow:hidden;}
.sv_cnt .sv_sec .visual {display:block;}
.sv_cnt .sv_sec .visual img {width:100%;max-width:100%;}
.sv_cnt .sv_sec .mark_txt {position:relative;font-size:20px;line-height:34px;margin:40px;padding:0 40px;letter-spacing:-1px;}
.sv_cnt .sv_sec .mark_txt:before {content:"";position:absolute;left:0;top:50%;margin-top:-20px;display:inline-block;width:41px;height:34px;background:url('../img/nsImg/mark_left.png') no-repeat;background-size:cover;}
.sv_cnt .sv_sec .mark_txt:after {content:"";position:absolute;right:0;top:50%;margin-top:-20px;display:inline-block;width:41px;height:34px;background:url('../img/nsImg/mark_right.png') no-repeat;background-size:cover;}
.sv_cnt .sv_sec .mark_txt.type_short:before {left:0;top:0;margin-top:0 !important;}
.sv_cnt .sv_sec .mark_txt.type_short:after {top:auto;right:0;bottom:0;margin-top:0 !important;}
.sv_cnt .sv_sec.sec3 {padding:0;}
.sv_cnt .sv_sec.sec3 .visual {float:right;margin-right:70px;}
.sv_cnt .sv_sec.sec3 .visual img {max-width:538px;}
.sv_cnt .sv_sec.sec3 .mark_txt {float:left;margin-top:155px;}
.sv_cnt .sv_sec.sec5 .visual {float:right;margin-right:70px;}
.sv_cnt .sv_sec.sec5 .visual img {max-width:647px;}
.sv_cnt .sv_sec.sec5 .mark_txt {float:left;}
.bt_link {margin-top:65px;text-align:center;}
.bt_link a {display:inline-block;height:80px;line-height:80px;padding:0 50px;color:#fff;background:#ee7609;font-size:20px;font-weight:bold;}
.bt_link a:after {content:"";display:inline-block;width:38px;height:47px;margin-left:14px;background:url('../img/nsImg/ico_link.png') no-repeat;background-size:cover;vertical-align:middle;}
.translator {margin-top:75px;text-align:right;font-size:15px;}
.h_sv_cnt {width:100%;padding-top:65px;}
.h_sv_cnt .visual {display:block;}
.h_sv_cnt .visual img {max-width:100%;}
.h_sv_cnt p {font-size:20px;line-height:34px;}
.h_sv_cnt .emp {color:#dc052b;font-style:normal;font-weight:bold;}
.h_sv_df {padding-top:30px;margin-bottom:0;color:#dc052b;}
.h_sv_df dt {font-size:20px;line-height:34px;}
.h_sv_df dd {font-size:20px;line-height:34px;}
.h_sv_cnt.type_full {width:100%;max-width:100% !important;background:#f4f4f4;margin-top:100px !important;padding-bottom:50px;}
.h_sv_cnt.type_full .cnt_inner {max-width:1280px;margin:0 auto;}
.h_sv_cnt .h_tit {display:block;border-bottom:2px solid #fff;font-size:30px;font-weight:bold;line-height:30px;}
.h_sv_cnt .h_tit img {}
.h_sv_cnt1 h3 {font-size:30px;font-weight:bold;line-height:30px;color:#ee7609}
.h_sv_cnt2 .visual {float:right;}
.h_sv_cnt2 .visual img {max-width:708px;margin-left:80px; width:100%;}
.h_sv_cnt2 .inner {width:100%;overflow:hidden;margin:60px 0;}
.h_sv_cnt2 .inner p {margin-top:0;padding-bottom:30px;}
.h_sv_cnt2 .inner .h_sv_df {padding-top:0;}
.h_sv_cnt3 {}
.h_sv_cnt3 p {text-align:center;}
.h_sv_cnt3 .visual {margin-top:20px;}
.h_sv_qna {width:100%;overflow:hidden;margin-top:100px;}
.h_sv_qna p {text-align:left;background:url('../img/nsImg/ico_qna.png') no-repeat;}
.h_sv_qna.type_l {}
.h_sv_qna.type_l .visual {float:left; margin-right:40px;}
.h_sv_qna.type_l p {}
.h_sv_qna.type_r .visual {float:right;margin-left:40px;}
.h_sv_qna.type_r p { background:url('../img/nsImg/ico_qna.png') no-repeat 100% 0;}
.h_sv_qna.type_d .inner {width:47%;}
.h_sv_qna.type_d .inner p {background:url('../img/nsImg/ico_qna.png') no-repeat 100% 0;}
.h_sv_qna.type_d .fl_l {float:left;}
.h_sv_qna.type_d .fl_r {float:right;}
.h_sv_qna.qna2 p {margin-top:85px;}
.h_sv_qna.qna3 p {margin-top:65px;}
.h_sv_qna.qna5 p {margin-top:65px;}


.h_sv_expert {margin-top:55px;}
.h_sv_expert .inner {float:left;width:33%;border-right:1px solid #ee7609;text-align:center;}
.h_sv_expert .visual {margin:0 auto;}
.h_sv_expert .visual img {max-width:271px;}
.h_sv_expert .inner:last-child {border-right:0}
.h_sv_expert p {margin:0;padding:0;}
.h_sv_expert .ep_ps {margin-top:10px;}
.h_sv_expert .ep_tit {margin-top:10px;font-weight:bold;color:#ee7609; padding:0 10px;}
.h_sv_expert .ep_txt {position:relative;margin-top:20px;padding:20px 10px 0;}
.h_sv_expert .ep_txt:before {content:"";position:absolute;top:0;left:50%;margin-left:-30px;display:inline-block;width:60px;height:3px;background:#dcdcdc}
.h_sv_expert2 .inner {width:100%;overflow:hidden; margin-top:80px;}
.h_sv_expert2 .group {position:relative;}
.h_sv_expert2 .inner .fl_box {float:left;max-width:765px;}
.h_sv_expert2 .inner .tit {display:block;position:absolute;width:146px;left:0;top:0;bottom:0;padding:25px 15px;background:#ee7609;color:#fff;font-weight:bold;font-size:20px;}
.h_sv_expert2 .inner p {padding-left:170px;margin-top:0;}
.h_sv_expert2 .visual {float:right;}
.h_sv_expert2 .visual img {max-width:477px;}
.h_sv_cnt6 {padding:0 !important;}
@media only screen and (max-width:1280px){
	.newStyle .nsBox             { position:relative; }
	.newStyle .nsBox:after    { content:''; display:inline-block; border-top:30px solid #dc052b; border-left:30px solid #dc052b; position:absolute; top:0; left:0; width:85px; height:85px; }
	.newStyle .nsBox:before    { content:''; display:inline-block; border-bottom:30px solid #ff6600; border-right:30px solid #ff6600; position:absolute; bottom:0; right:0; width:85px; height:85px; }

	.newStyle .ns_top             { text-align:center; height:300px; background:url(../img/nsImg/essaybg.png) no-repeat 50% 50% /cover; }
	.newStyle .ns_top2             { text-align:center; height:455px; background:url(../img/nsImg/ns2_top.png) no-repeat 50% 50% /cover; }
    .newStyle .ns_top3             { text-align:left; height:300px; background:url(../img/nsImg/ns3_top.png) no-repeat 50% 50% /cover; }
    .newStyle .ns_top3 img          { margin:66px 0 0 60px; width:500px; }
	.newStyle .ns_top4             { text-align:left; height:382px; background:url(../img/nsImg/ns4_top.png) no-repeat 50% 50% /cover; }
	.newStyle .ns_top4 img          { margin:80px 0 0 60px; }
	.newStyle .ns_top6             { text-align:center; height:455px; background:url(../img/nsImg/svbg.png) no-repeat 50% 50% /cover; }
	.newStyle .nsBol   { width:80px; height:80px; display:inline-block; border:1px solid #e12647; border-radius:100%; font-size:20px; color:#dc052b; font-weight:bold; text-align:center; line-height:78px; margin:40px 0 0; }
    .newStyle .nsTit            { font-size:5.2vw; padding:10px 0; }
	.newStyle .nsTit:after  {display: inline-block;content: '';width: 6px;height:6px;border: 2px solid #dc052b;border-radius: 100%;position: relative;top:8px;}
    .newStyle .nsTxt            { font-size:2.7vw; }

	.newStyle .cenTxt			{ text-align:center; font-size:16px; color:#424242; padding:60px 0; }

	.ns_lineTit					{ width:100%; border-top:2px solid #ee7609; position:relative; } 
	.ns_lineTit:after			{ content:''; top:0; left:0; width:44px; height:44px; border-top:16px solid #ee7609; border-left:16px solid #ee7609; position:absolute; }
	.ns_lineTit strong			{ display:block; padding:14px 0 0 50px; font-size:24px; color:#000; font-weight:normal; }

	.nsImgBox				{ padding:30px 0 70px; font-size:18px; }
	.nsImgBox p				{ padding:30px 0 0; }
	.nsImgBox .lImg			{ float:left; margin-right:30px; }

	.ns1_box1				{ width:100%; background:url(../img/nsImg/ns1_box1_bg.png) no-repeat 50% 50%/cover; text-align:center; padding:40px 0; }
	.ns1_box1 .tit			{ font-size:22px; color:#fff; }
	.ns1_box1 img			{ width:auto; max-width:80%; margin:25px 0; }
	.ns1_box1 .txt			{ font-size:16px; color:#fff; }

	.ns1_box2				{ width:100%; background:url(../img/nsImg/ns1_box2_bg.png) no-repeat 50% 50%/cover; text-align:right; padding:50px 0; }
	.ns1_box2 p				{ width:400px; font-size:16px; line-height:180%; text-align:left; background:#fff; padding:20px; display:inline-block; margin-left:0; }

	.nbbWrap				{ padding:70px 0 70px; margin:70px 0 0; }
	.nsBlBox				{ padding:0 15px; }
	.nsBlBox .tit			{ font-size:24px; margin:0 0 20px; }
	.nsBlBox .cont			{ padding:40px 0; font-size:16px; }
	.nsBlBox .cont .sCom		{ width:31px; }
	.nsBlBox .cont .eCom		{ width:31px; }
	.nsBlBox .cont p			{ padding:30px 0 0; font-size:16px; }
	.nsBlBox .cont .fl			{ float:none; margin:0 0 30px; width:100%; }
	.nsBlBox .mb				{ margin:0 0 30px; }

	.ns2Con						{ margin:0 15px 50px; }
	.ns2Con dt img				{ margin-left:-110px; }
	.ns2Con dd					{ position:absolute; top:0; left:555px; display:table; height:322px; width:calc(100% - 555px); }
	.ns2Con dd p				{ vertical-align:middle; line-height:180%; height:100%; font-size:13px; }

	.txImBox					{ padding:40px 15px 60px; }
	.txImBox .txt				{ float:none; width:100%; padding:40px 0; font-size:16px; margin:0 0 30px; }
	.txImBox .txt .sCom		{ position:absolute; top:0; left:0; width:31px; }
	.txImBox .txt .eCom		{ position:absolute; bottom:0; right:0; width:31px; }
	.txImBox .img				{ float:none; width:100%; padding:20px 0 0; display:inline-block; }
	.txImBox .img img			{ margin:0 1% 24px; width:48%; float:left; }
	.txImBox .inner>img			{ width:100%; }

	.txBox						{ width:100%; padding:40px 15px; box-sizing:border-box; }
	.txBox .inner				{ max-width:1280px; }
	.txBox .inner .tit			{ color:#fff; font-size:22px; border-bottom:1px solid #fff;  font-weight:bold; margin:0 0 20px; }
	.txBox .inner .cont			{ color:#fff; font-size:16px; line-height:180%; }

	.ns_bot						{ width:100%; padding:40px 15px; box-sizing:border-box; background:url(../img/nsImg/ns_bot_bg.png) 50% 50% no-repeat/cover; text-align:center; }
	.ns_bot .inner>img					{ max-width:1280px; width:100%; }
	.ns_bot a					{ display:inline-block; padding:20px 0 0; }
	.ns_bot a img				{ width:auto; max-width:100%; padding:0 30px; }
	
	.txtBox						{ padding:50px 15px; width:100%; box-sizing:border-box; }
    .txtBox .inner				{ max-width:1280px; margin:0 auto; }
    .txtBox .inner .tit			{ height:168px; font-size:20px; padding:52px 0 0 65px; }
    .txtBox .inner .tit1		{ background:url(../img/nsImg/ns4_titBg1.png) 50% 50% no-repeat; color:#fff; }
    .txtBox .inner .tit2		{ background:url(../img/nsImg/ns4_titBg2.png) 50% 50% no-repeat; color:#1a1919; }
    .txtBox .inner .tit3		{ background:url(../img/nsImg/ns4_titBg3.png) 50% 50% no-repeat; color:#000; padding-left:65px; }
    .txtBox .inner ul			{ width:100%; display:inline-block; list-style-type:none; padding:30px 0; }
    .txtBox .inner ul li		{ float:left; width:50%; list-style-type:none; font-size:16px; line-height:180%; padding:0 10px; box-sizing:border-box; }
    .txtBox .inner ul li img	{ width:100%; }
    .txtBox .inner .orgTxt		{ width:100%; padding:15px 0; text-align:center; color:#fff; background:#ee7609; line-height:180%; font-size:16px; }
    .cenBgTxt					{ padding:210px 0 0px; text-align:center; font-size:16px; color:#000; background:url(../img/nsImg/ns4_img2.png) 50% 35px no-repeat; line-height:180%; }
    .txtBox .inner p			{ width:100%; display:inline-block; font-size:16px; line-height:180%; }
    .txtBox .inner p .fl		{ float:left; margin:0 50px 0 0; }
    .txtBox .inner .leftBgTxt	{ padding:50px 380px 50px 0; font-size:16px; line-height:180%; text-align:left; background:url(../img/nsImg/ns4_img4.png) 100% 50% no-repeat; }
    .txtBoxFoot					{ background:url(../img/nsImg/ns4_txtBg.png) 50% 50% no-repeat; height:auto; width:100%; padding:70px 0; }
    .txtBoxFoot .inner			{ max-width:1280px; margin:0 auto; font-size:16px; color:#fff; line-height:180%; text-align:center; }
    .txtBoxFoot .inner br       { display:none; }

	
	.h_sv_cnt                   { padding:0 15px; box-sizing:border-box; }
	.h_sv_cnt p .br                 { display:none; }
	
    .h_sv_qna.type_l .visual {float:left; margin-right:20px;}
    .h_sv_qna.type_l p { font-size:16px; }
    .h_sv_qna.type_r .visual {float:right;margin-left:20px;}
    .h_sv_qna.type_r p { font-size:16px; background:url('../img/nsImg/ico_qna.png') no-repeat 100% 0;}
	
    .sv_wrap                    { padding:0 15px; }
    .sv_cnt .sv_sec.sec3 .visual {float:none;margin-right:0px; text-align:center;}
    .sv_cnt .sv_sec.sec3 .visual img { width:auto; max-width:100%;}
    .sv_cnt .sv_sec.sec3 .mark_txt {float:none; width:calc(100% - 80px); box-sizing:border-box; margin-top:155px;}
    .sv_cnt .sv_sec.sec5 .visual {float:none;margin-right:0; text-align:center;}
    .sv_cnt .sv_sec.sec5 .visual img { width:auto;  max-width:100%;}
    .sv_cnt .sv_sec.sec5 .mark_txt {float:none; width:calc(100% - 80px); box-sizing:border-box; }
	.h_sv_expert2 .inner .fl_box {float:none;max-width:100%;}
    .h_sv_expert2 .inner .tit {display:block;position:absolute;width:146px;left:0;top:0;bottom:0;padding:25px 15px;background:#ee7609;color:#fff;font-weight:bold;font-size:20px;}
    .h_sv_expert2 .inner p {padding-left:170px;margin-top:0;}
    .h_sv_expert2 .visual {float:none; width:100%; text-align:center;}
}
@media only screen and (max-width:760px){
	.newStyle .nsBox             { position:relative; }
	.newStyle .nsBox:after    { content:''; display:inline-block; border-top:15px solid #dc052b; border-left:15px solid #dc052b; position:absolute; top:0; left:0; width:45px; height:45px; }
	.newStyle .nsBox:before    { content:''; display:inline-block; border-bottom:15px solid #ff6600; border-right:15px solid #ff6600; position:absolute; bottom:0; right:0; width:45px; height:45px; }

	.newStyle .ns_top             { text-align:center; height:150px; background:url(../img/nsImg/essaybg.png) no-repeat 50% 50% /cover; }
	.newStyle .ns_top2             { text-align:center; height:220px; background:url(../img/nsImg/ns2_top.png) no-repeat 50% 50% /cover; }
	.newStyle .ns_top3             { text-align:center; height:150px; background:url(../img/nsImg/svbg.png) no-repeat 50% 50% /cover; }
	.newStyle .ns_top3             { text-align:left; height:220px; background:url(../img/nsImg/ns3_top.png) no-repeat 50% 50% /cover; }
    .newStyle .ns_top3 img          { margin:60px 0 0 20px; width:270px; }
	.newStyle .ns_top4             { text-align:left; height:220px; background:url(../img/nsImg/ns4_top.png) no-repeat 50% 50% /cover; }
	.newStyle .ns_top4 img          { margin:80px 0 0 26px; width:160px; }
	.newStyle .ns_top6             { text-align:center; height:150px; background:url(../img/nsImg/svbg.png) no-repeat 50% 50% /cover; }
	.newStyle .nsBol   { width:40px; height:40px; display:inline-block; border:1px solid #e12647; border-radius:100%; font-size:12px; color:#dc052b; font-weight:bold; text-align:center; line-height:40px; margin:20px 0 0; }
	.newStyle .nsTit            { font-size:5vw; padding:2px 0; }
	.newStyle .nsTit:after  {display: inline-block;content: '';width: 3px;height:3px;border: 1px solid #dc052b;border-radius: 100%;position: relative;top:3px;}
    .newStyle .nsTxt            { font-size:2.4vw; }

	.newStyle .cenTxt			{ text-align:center; font-size:13px; color:#424242; padding:24px 15px; }
	.newStyle .cenTxt br		{ display:none; }

	.ns_lineTit					{ width:calc(100% - 30px); border-top:1px solid #ee7609; position:relative; margin:0 15px; box-sizing:border-box; } 
	.ns_lineTit:after			{ content:''; top:0; left:0; width:22px; height:22px; border-top:10px solid #ee7609; border-left:10px solid #ee7609; position:absolute; }
	.ns_lineTit strong			{ display:block; padding:5px 0 0 25px; font-size:14px; color:#000; font-weight:normal; }

	.nsImgBox				{ padding:20px 15px 60px; font-size:13px; }
	.nsImgBox p				{ padding:20px 0 0; }
	.nsImgBox .lImg			{ float:none; margin-right:0px; margin-bottom:20px; width:100%; }

	.ns1_box1				{ width:100%; background:url(../img/nsImg/ns1_box1_bg.png) no-repeat 50% 50%/cover; text-align:center; padding:25px 15px; box-sizing:border-box; }
	.ns1_box1 .tit			{ font-size:16px; color:#fff; }
	.ns1_box1 img			{ width:auto; max-width:100%; margin:15px 0 25px; }
	.ns1_box1 .txt			{ font-size:13px; color:#fff; }

	.ns1_box2				{ width:100%; background:url(../img/nsImg/ns1_box2_bg.png) no-repeat 30% 0; text-align:right; padding:250px 15px 0; box-sizing:border-box; background-size:auto 60%; }
	.ns1_box2 p				{ width:100%; font-size:13px; line-height:180%; text-align:left; background:#fff; padding:20px; display:inline-block; margin-left:0; }
	.ns1_box2 p br			{ display:none; }

	.nbbWrap				{ padding:40px 0 40px; margin:40px 0 0; }
	.nsBlBox .tit			{ font-size:14px; margin:0 0 10px; }
	.nsBlBox .cont			{ padding:30px 0; font-size:13px; }
	.nsBlBox .cont .sCom		{ width:21px; }
	.nsBlBox .cont .eCom		{ width:21px; }
	.nsBlBox .cont p			{ padding:20px 0 0; font-size:13px; }
	.nsBlBox .cont .fl			{ float:none; margin:0 0 20px; width:100%; }
	.nsBlBox .mb				{ margin:0 0 20px; }

	.ns2Con						{ margin:0 15px 25px; }
	.ns2Con dt					{ width:100%; overflow:hidden; }
	.ns2Con dt img				{ margin-left:0; width:130%; margin:0 0 15px; }
	.ns2Con dd					{ position:static; top:0; left:0; display:block; height:auto; width:100%; }
	.ns2Con dd p				{ vertical-align:middle; line-height:180%; height:100%; font-size:13px; }

	.txImBox					{ padding:20px 15px 40px; }
	.txImBox .txt				{ float:none; width:100%; padding:30px 0; font-size:13px; margin:0 0 30px; }
	.txImBox .txt .sCom		{ position:absolute; top:0; left:0; width:21px; }
	.txImBox .txt .eCom		{ position:absolute; bottom:0; right:0; width:21px; }
	.txImBox .img				{ float:none; width:100%; padding:10px 0 0; display:inline-block; }
	.txImBox .img img			{ margin:0 1% 24px; width:48%; float:left; }
	.txImBox .inner>img			{ width:100%; }


	.txBox						{ width:100%; padding:30px 15px; box-sizing:border-box; }
	.txBox .inner				{ max-width:1280px; }
	.txBox .inner .tit			{ color:#fff; font-size:14px; border-bottom:1px solid #fff;  font-weight:bold; margin:0 0 10px; }
	.txBox .inner .cont			{ color:#fff; font-size:13px; line-height:180%; }
	

	.ns_bot						{ width:100%; padding:30px 15px; box-sizing:border-box; background:url(../img/nsImg/ns_bot_bg.png) 50% 50% no-repeat/cover; text-align:center; }
	.ns_bot .inner>img					{ max-width:1280px; width:100%; }
	.ns_bot a					{ display:inline-block; padding:20px 0 0; }
	.ns_bot a img				{ width:auto; max-width:100%; padding:0 30px; }
	
	.txtBox						{ padding:30px 15px 30px; width:100%; box-sizing:border-box; }
    .txtBox .inner				{ max-width:1280px; margin:0 auto; }
    .txtBox .inner .tit			{ height:168px; font-size:16px; padding:52px 0 0 25px; }
    .txtBox .inner .tit1		{ background:url(../img/nsImg/ns4_titBg1.png) 50% 50% no-repeat; color:#fff; }
    .txtBox .inner .tit2		{ background:url(../img/nsImg/ns4_titBg2.png) 50% 50% no-repeat; color:#1a1919; }
    .txtBox .inner .tit3		{ background:url(../img/nsImg/ns4_titBg3.png) 50% 50% no-repeat; color:#000; padding-left:25px; }
    .txtBox .inner ul			{ width:100%; display:inline-block; list-style-type:none; padding:30px 0; }
    .txtBox .inner ul li		{ float:none; width:100%; list-style-type:none; font-size:13px; line-height:180%; padding:0 10px; box-sizing:border-box; }
    .txtBox .inner ul li img	{ width:100%; margin-bottom:15px; }
    .txtBox .inner .orgTxt		{ width:100%; padding:15px 0; text-align:center; color:#fff; background:#ee7609; line-height:180%; font-size:13px; }
    .cenBgTxt					{ padding:210px 0 0px; text-align:center; font-size:13px; color:#000; background:url(../img/nsImg/ns4_img2.png) 50% 35px no-repeat; line-height:180%; }
    .txtBox .inner p			{ width:100%; display:inline-block; font-size:16px; line-height:180%; }
    .txtBox .inner p .fl		{ float:none; margin:0 15px 15px; width:auto; max-width:calc(100% - 30px); }
    .txtBox .inner .leftBgTxt	{ padding:20px 0 20px; font-size:13px; line-height:180%; text-align:left; background:none; }
    .txtBoxFoot					{ background:url(../img/nsImg/ns4_txtBg.png) 50% 50% no-repeat; height:auto; width:100%; padding:20px 0; }
    .txtBoxFoot .inner			{ max-width:1280px; margin:0 auto; padding:0 15px; font-size:13px; color:#fff; line-height:180%; text-align:center; }
    .txtBoxFoot .inner br       { display:none; }

    .h_sv_qna.type_l .visual {float:left; margin-right:20px;}
    .h_sv_qna.type_l p { font-size:13px; }
    .h_sv_qna.type_r .visual {float:right;margin-left:20px;}
    .h_sv_qna.type_r p { font-size:13px; background:url('../img/nsImg/ico_qna.png') no-repeat 100% 0;}

	.sv_top_txt {font-size:13px;line-height:28px;}
	.sv_wrap {padding:0 1spx;}
	.sv_wrap .br {display:inline;}
	.sv_cnt .sv_sec {padding:20px 0;margin-top:40px;}
	.sv_cnt .sv_sec .mark_txt:before {margin-top:-10px;display:inline-block;width:20px;height:17px;}
	.sv_cnt .sv_sec .mark_txt:after {margin-top:-10px;display:inline-block;width:20px;height:17px;}
	.sv_cnt .sv_sec .mark_txt {font-size:13px;line-height:28px;margin:20px;padding:0 25px;}
	.sv_cnt .sv_sec.sec3 .visual {float:none;margin:0;}
	.sv_cnt .sv_sec.sec3 .mark_txt {float:none;margin-top:40px; width:calc(100% - 40px);}
	.sv_cnt .sv_sec.sec5 .visual {float:none;margin:0;}
	.sv_cnt .sv_sec.sec5 .mark_txt {float:none; width:calc(100% - 40px);}
	.bt_link {margin-top:40px;}
	.bt_link a {position:relative;height:auto;line-height:1.5;font-size:12px;padding:10px 30px 10px 10px;}
	.bt_link a:after {position:absolute;right:10px;top:50%;margin-top:-12px;width:19px;height:24px;}
	.translator {margin-top:40px;text-align:right;font-size:12px;}
	.h_sv_expert2 .inner        { margin-top:30px; }
	.h_sv_expert2 .inner .tit {position:static;width:auto; padding:10px 15px;}
	.h_sv_expert2 .inner p {padding-left:0;}
	.h_sv_cnt {padding:0;}
	.h_sv_cnt p {font-size:13px;line-height:28px;}
	.h_sv_expert .inner {float:none;width:100%;border:0;}
	.h_sv_cnt .h_tit {font-size:20px;line-height:20px;}
	.h_sv_cnt .h_tit img {display:block;width:150px;margin-bottom:10px;}
	.h_sv_cnt.type_full {padding-bottom:50px;margin-top:0 !important}
	.h_sv_cnt .h_tit {padding-bottom:5px;}
	.h_sv_cnt.type_full .cnt_inner {padding:10px;}
	.h_sv_df dt {font-size:13px;line-height:28px;}
	.h_sv_df dd {font-size:13px;line-height:28px;}
	.h_sv_cnt2 .visual img {margin-left:0}
	.h_sv_cnt2 .visual {float:none;}
	.h_sv_qna               { margin-top:30px; }
	.h_sv_qna.type_l .visual {float:none;margin:0;}
	.h_sv_qna.type_r .visual {float:none;margin:0;}
	.h_sv_qna.type_d .fl_l {float:none;width:100%;}
	.h_sv_qna.type_d .fl_r {float:none;width:100%;}
	.h_sv_qna.qna2 p {margin-top:30px;}
	.h_sv_qna.qna3 p {margin-top:30px;}
	.h_sv_qna.qna5 p {margin-top:30px;}
}



















