@charset "utf-8";

.text-blue {
  color: #004eff;
}

.find_sv_tit1 {
  position: relative;
  padding-top: 18px;
  padding-left: 20px;
  color: #ee7609;
  font-size: 30px;
  font-weight: 600;
}
.find_sv_tit1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 8px solid #ee7609;
  border-width: 8px 0 0 8px;
}
.find_sv_tit1.white {
  color: #fff;
}
.find_sv_tit1.white:after {
  border-color: #fff;
}
.find_sv_tit2 {
  position: relative;
  display: inline-block;
  padding: 13px 146px 13px 10px;
  color: #fff;
  background-color: #ee7609;
  font-size: 30px;
  font-weight: 600;
}
.find_sv_tit2:after {
  content: "";
  position: absolute;
  top: -64px;
  right: -70px;
  display: block;
  width: 182px;
  height: 123px;
  background: url(../img/find_sv/sv_23.png) no-repeat;
}
.find_sv_tit3 {
  position: relative;
}
.find_sv_tit3 .step {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 98px;
  height: 98px;
  border: 6px solid #dc052b;
  color: #dc052b;
  text-align: center;
}
.find_sv_tit3 .small {
  display: block;
  margin-top: 12px;
  font-size: 20px;
  color: inherit;
}
.find_sv_tit3 .num {
  display: block;
  margin-top: 4px;
  font-size: 40px;
  font-weight: 600;
}
.find_sv_tit3 .text {
  display: block;
  margin-left: 128px;
  margin-top: 76px;
  padding-bottom: 20px;
  padding-top: 19px;
  border-bottom: 3px solid #fff;
  color: #1b1a1a;
  font-size: 30px;
  font-weight: 600;
}
@media screen and (max-width: 760px) {
  .find_sv_tit1 {
    margin-top: 50px;
    padding-top: 12px;
    padding-left: 14px;
    font-size: 18px;
  }
  .find_sv_tit1:after {
    width: 20px;
    height: 20px;
    border-width: 4px 0 0 4px;
  }
  .find_sv_tit2 {
    font-size: 18px;
  }
  .find_sv_tit3 .step {
    width: 50px;
    height: 50px;
    border-width: 2px;
  }
  .find_sv_tit3 .small {
    margin-top: 6px;
    font-size: 11px;
  }
  .find_sv_tit3 .num {
    font-size: 18px;
  }
  .find_sv_tit3 .text {
    margin-top: 40px;
    margin-left: 60px;
    padding-bottom: 10px;
    font-size: 18px;
  }
}
@media screen and (max-width: 1280px) {
  .find_sv_tit2 {
    padding-right: 10px;
    line-height: 1.4;
  }
  .find_sv_tit2:after {
    display: none;
  }
}

.find_sv_1 {
  overflow: hidden;
  padding-top: 116px;
}
.find_sv_1 .image {
  float: right;
}
.find_sv_1 .image:first-child {
  float: left;
}
@media screen and (max-width: 1280px) {
  .find_sv_1 {
    text-align: center;
  }
  .find_sv_1 .image,
  .find_sv_1 .image:first-child {
    float: none;
  }
  .find_sv_1 .image {
    margin: 40px 0;
  }
  .find_sv_1 .image img {
    max-width: 100%;
  }
}

.find_sv_2 {
  padding-top: 115px;
  padding-bottom: 65px;
}
.find_sv_2 .text1 {
  overflow: hidden;
  margin-top: 30px;
}
.find_sv_2 .text1 .visual {
  float: left;
  margin-right: 40px;
}
.find_sv_2 .text2 {
  overflow: hidden;
  margin-top: 40px;
}
.find_sv_2 .text2 .visual {
  float: right;
  margin-left: 40px;
}
.find_sv_2 .text2 p + p {
  margin-top: 30px;
}
@media screen and (max-width: 760px) {
  .find_sv_2 .text1 .visual {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .find_sv_2 .text2 {
    margin-top: 20px;
  }
  .find_sv_2 .text2 .visual {
    float: none;
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}

.h_sv_cnt.type_full.find_sv_3 {
  padding-bottom: 90px;
  background-color: #ededed;
}
.find_sv_3.h_sv_cnt.type_full .cnt_inner {
  margin-top: -118px;
}
.find_sv_3_1 {
  overflow: hidden;
  margin-top: 50px;
}
.find_sv_3_1 .visual {
  float: left;
  margin-right: 30px;
}
.find_sv_3_2 {
  overflow: hidden;
  margin-top: 40px;
}
.find_sv_3_2 .visual {
  float: right;
  margin-left: 50px;
}
.find_sv_3_2 + .find_sv_tit3 {
  margin-top: 120px;
}
.find_sv_3_3 {
  overflow: hidden;
  margin-top: 40px;
}
.find_sv_3_3 .visual {
  float: left;
  margin-right: 40px;
}
.find_sv_3_3 .visual2 {
  clear: left;
  padding-top: 45px;
}
.find_sv_3_3 .visual2 img {
  max-width: 100%;
}
@media screen and (max-width: 760px) {
  .find_sv_3_1 {
    margin-top: 0;
  }
  .find_sv_3_1 .visual,
  .find_sv_3_2 .visual,
  .find_sv_3_3 .visual {
    float: none;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .find_sv_3_2 + .find_sv_tit3 {
    margin-top: 0;
  }
}
.find_sv_3_4_tit {
  z-index: 2;
  position: relative;
  display: inline-block;
  margin-top: 95px;
}
.find_sv_3_4_tit img {
  max-width: 100%;
}
.find_sv_3_4_tit:after {
  content: "";
  position: absolute;
  top: -44px;
  right: -134px;
  display: block;
  width: 182px;
  height: 123px;
  background: url(../img/find_sv/sv_23.png) no-repeat;
}
.find_sv_3_4 img {
  max-width: 100%;
}
.find_sv_3_4 .image1 {
  overflow: hidden;
}
.find_sv_3_4 .image1 > span {
  float: right;
}
.find_sv_3_4 .image1 > span:first-child {
  float: left;
}
.find_sv_3_4 .image2 {
  display: block;
  padding: 15px;
  text-align: center;
}
.find_sv_3_4 .image3 {
  margin-bottom: 20px;
  padding: 50px 28px;
  background-color: #e1edff;
  text-align: center;
}
.find_sv_3_4 .image3-center {
  margin-left: 46px;
  margin-right: 26px;
}
.find_sv_3_4 + .find_sv_tit3 {
  margin-top: 120px;
}
.find_sv_3_5 .visual2 {
  margin-top: 40px;
  margin-bottom: 30px;
}
.find_sv_3_5 .visual2 img {
  max-width: 100%;
}
.find_sv_3_5 p + p {
  margin-top: 50px;
}
.find_sv_3_5 .text {
  position: relative;
  margin-bottom: 40px;
  min-height: 430px;
}
.find_sv_3_5 .text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 86px;
  height: 86px;
  border: 30px solid #fff;
  border-width: 0 0 30px 30px;
}
.find_sv_3_5 .text .visual {
  float: right;
  margin-left: 45px;
}
@media screen and (max-width: 1280px) {
  .find_sv_3_4 .image1 {
    text-align: center;
  }
  .find_sv_3_4 .image1 > span {
    float: none;
    display: block;
  }
  .find_sv_3_4 .image1 > span:first-child {
    float: none;
    margin-bottom: 40px;
  }
  .find_sv_3_4 .image3 {
    padding: 20px;
  }
  .find_sv_3_4 .image3 > span {
    display: block;
    margin: 40px 0;
  }
  .find_sv_3_5 .text:after {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .h_sv_cnt.type_full.find_sv_3 {
    padding-bottom: 10px;
  }
  .find_sv_3_3 .visual2 {
    padding-top: 0;
  }
  .find_sv_3_4_tit img {
    max-width: 80%;
  }
  .find_sv_3_4_tit:after {
    display: none;
  }
  .find_sv_3_4 .image2 img {
    width: 100px;
  }
  .find_sv_3_4 .image3 > span {
    margin: 20px 40px;
  }
  .find_sv_3_4 + .find_sv_tit3 {
    margin-top: 0;
  }
  .find_sv_3_5 .visual2 {
    margin-bottom: 20px;
  }
  .find_sv_3_5 p + p {
    margin-top: 20px;
  }
  .find_sv_3_5 .text {
    margin-bottom: 20px;
  }
  .find_sv_3_5 .text .visual {
    float: none;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .find_sv_3_5 .visual3 img {
    max-width: 100%;
  }
}

.find_sv_3_6 p,
.find_sv_3_6 .visual {
  margin-top: 40px;
}
@media screen and (max-width: 760px) {
  .find_sv_3_6 p,
  .find_sv_3_6 .visual {
    margin-top: 20px;
  }
}

.h_sv_cnt.type_full.find_sv_5 {
  background: url(../img/find_sv/sv_25.jpg) no-repeat;
  background-size: cover;
}
.find_sv_5 .find_sv_tit1 {
  margin-bottom: 50px;
}
.find_sv_5 dl {
  margin-bottom: 80px;
}
.find_sv_5 .question {
  display: inline-block;
  padding-left: 141px;
  padding-right: 30px;
  min-height: 69px;
  line-height: 69px;
  background: #fff url(../img/find_sv/sv_19.png) no-repeat;
  color: #404040;
  font-size: 20px;
}
.find_sv_5 .answer {
  overflow: hidden;
  margin-top: 34px;
  color: #fff;
}
.find_sv_5 .answer + .answer {
  margin-top: 13px;
}
.find_sv_5 .answer .photo {
  float: left;
  margin-right: 25px;
}
.find_sv_5 .answer .name {
  display: block;
}
.find_sv_5 .answer .text {
  margin-top: 40px;
}
@media screen and (max-width: 760px) {
  .h_sv_cnt.type_full.find_sv_5 {
    padding-bottom: 0;
  }
  .find_sv_5 .find_sv_tit1 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .find_sv_5 dl {
    margin-bottom: 40px;
  }
  .find_sv_5 .question {
    padding: 10px 10px 10px 120px;
    font-size: 16px;
    line-height: 1.4;
  }
  .find_sv_5 .answer .photo {
    float: none;
    display: block;
    margin-right: 0;
    text-align: center;
  }
  .find_sv_5 .answer .text {
    margin-top: 20px;
  }
  .find_sv_5 .answer .name {
    text-align: center;
  }
}
